* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;

}


body::-webkit-scrollbar {
    width: 10px;
    background: #00000040;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff9800;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    background: #FF9800;
    /*/Este es el color del fondo/*/
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    height: 65px;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 65px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px ;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 7px;
    border-radius: 5px;
}

header nav ul li a:hover {
    color: #fff;
    background: #FB8C00;
}

.activo {
    background-color: #ffffff40;
    color: #fff;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
/*-----------Usuario------------*/
.usuarioResponsive{
    display:none;
}
#conteUser {
    z-index: 1000;
    width: 200px;
    background: #a2050500;
    margin-right: 20px;
    margin-top: 15px;
    text-align: right;
}

#btnUser {
    float: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 20px 7px 16px;
    border: 1px solid #ff9800;
    cursor: pointer;
    margin-top: 2px;
}

.panelUser {
    margin-top: 0px;
    float: right;
    border: 1px solid #ff9800;
    width: 168px;
    height: 140px;
    text-align: left;
    background: #ffffff;
    padding: 12px;
    color: #fff;
}

#contePanelUser {
    background: #ffffff;
    padding: 10px;
    height: 120px;
}

#opcionPanel {
    padding: 7px 0px;
    border-bottom: 1px solid #009688;
    text-align: right;
    color: #009688;
    cursor: pointer;
    font-weight: bold;
}

#opcionPanel:hover {
    color: #009688;
    transition: all .9s;
    border-bottom: 2px solid #009688;
    font-weight: bold;
}

#opcionCerrar {
    padding: 10px;
    background: #009688;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
}

#aCerrar {
    text-decoration: none;
    color: white;
}

#opcionCerrar:hover {
    background: #117168;
    transition: .7s;
}

@media screen and (max-width: 1100px) {
    #conteUser {
        display:none;
    }
    .usuarioResponsive{
        display:block;
    }
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 65px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.5);
        border-radius: 0;
        transition: all .7s;
        margin: 0px;
    }
}

.toggle {
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
    margin-top: 15px;
}

.toggle span {
    position: relative;
    width: 36px;
    height: 4px;
    background: white;
    display: block;
    border-radius: 5px;
    margin-bottom: 8px;
    transition: .5s;
}

.toggle span:nth-child(1) {
    transform-origin: left;
}

.toggle span:nth-child(2) {
    transform-origin: center;
}

.toggle span:nth-child(3) {
    transform-origin: left;
}

.toggle.activad span:nth-child(1) {
    transform: rotate(40deg);
    left: -5px;
}

.toggle.activad span:nth-child(2) {
    transform: rotate(315deg);
    right: 10px;
}

.toggle.activad span:nth-child(3) {
    transform: scaleX(0);
}

.b1 {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../img/img2.jpg) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: cover;
}

.b1 .in1 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.box, .invitar {
    display: inline-block;
}

.invitar {
    margin: auto;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    float: right;
    margin-right: 10%;
    margin-top: 8%;
    color: white;
    font-size: 160%;
}
@media screen and (max-width:875px){
    .invitar {
    margin: auto;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    float: none;
    margin-right:none;
    margin-top: 0%;
    color: white;
    font-size: 160%;
}
}
.boton {
    border-radius: 9px;
    color: #f9f3f4;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
}

.content .boton:hover {
    color: #00ff0b;
}

.box {
    margin: auto;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    text-align: center;
}

.logoLogin {
    background: #ffffff;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-shadow: -3px -2px 2px #007905;
}

.box .inputbox {
    position: relative;
}

.box .inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #007905;
    outline: none;
    background: transparent;
}

.box .inputbox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: all .5s;
}

.box .inputbox input:focus {
    border-bottom: 2px solid #007905;
    font-weight: bold;
}

.box .inputbox input:focus ~ label, .box .inputbox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #007905;
    font-size: 12px;
}

.enviar {
    padding: 12px;
    width: 80%;
    border: 0;
    border-radius: 20px;
    background-color: #00a007;
    color: white;
    font-size: 100%;
    font-weight: bold;
}

.enviar:hover {
    background-color: #006b05;
    transition: .8s;
}

/*Noticias*/
.iniciar {
    width: 26%;
    border-bottom: 2px solid white;
    padding: 5px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 5px;
}

.pIniciar, .iniciar {
    display: inline-block;
}

.pIniciar {
    color: #ffffff;
    background: transparent;
    width: 40%;
    margin-top: 15px;
}

.google {
    padding: 6px;
    background: white;
    color: #00000073;
    max-width: 130px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

strong {
    font-size: 22px;
    font-weight: bold;
}

.google:hover {
    background: #FF9800;
    color: #ffffff73;
    font-weight: bold;
    transition: all .7s;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

/*Titulo Noticias*/
.contenedor {
    width: 90%;
    margin: 0 auto;
    padding: 3%;
}

.lineaTitulo {
    border-bottom: 3px solid ;
    margin-bottom: 20px;
    color: #009688;
    font-size: 200%;
    font-weight: bold;
}

/*barra de arriba de la imagen*/
.contenedorNoticias {
    padding: 2%;
}

.noticias {
    width: 100%;
    height: 380px;
    border-top: 3px solid #009688;
    background: white;
}

.imagenNoticia {
    width: 100%;
    height: 250px;
}

.imagenFondo1, #noticia1 {
    display: inline-block;
}

/*noticia1*/
.imagenFondo1 {
    width: 35%;
    height: 250px;
}

#fecha {
    position: absolute;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background: #009688;
    text-align: center;
    color: #ffffff;
}

#noticia1 {
    float: right;
    width: 63%;
    background: #ffffff;
    color: #000000;
}

.boton_noticia1 {
    text-decoration: none;
    padding: 10px 5px 10px 10px;
    text-align: center;
    border: 2px solid #009688;
    border-radius: 7px;
    color: #716553;
    margin-left: 40%;
}

.subTitulo {
    color: #ff9800;
}

p {
    line-height: 1.4;
}

.boton_noticia1:hover {
    color: #ffffff;
    background-color: #009688;
    transition: all .8s;
}

.btnCentrado {
    width: 100%;
    text-align: center;
}

.verTodo {
    background: #FF9800;
    padding: 1.5%;
    width: 25%;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 130%;
}

.verTodo:hover {
    background: #EF6C00;
    transition: all .7s;
}

@media screen and (max-width: 770px) {
    .noticias {
        height:670px;
    }

    .imagenFondo1 {
        width: 100%;
    }

    #noticia1 {
        width: 100%;
    }
}

/*-------Gimnasio-----------*/
.info p {
    padding: 3%;
    line-height: 2;
}

/*-------Gimnasio-----------*/
.conteImgGimnasio {
    padding: 5%;
    text-align: center;
}

.portafolio-img {
    transition: all 0.5s ;
    width: 100%;
    margin: auto;
}

.portafolio-item {
    width: 40%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 1%;
    background: white;
}

@media screen and (max-width: 770px) {
    .portafolio-item {
        width:70%;
        position: relative;
        overflow: hidden;
        display: inline-block;
        border-radius: 10px;
        margin: 1%;
        background: white;
    }
}

.portafolio-text {
    position: absolute;
    bottom: 0;
    text-align: left;
    background: #2a2a2a85;
    color: white;
    transform: translateY(100%);
    transition: all .5s ease-out;
    width: 100%;
}
.portafolio-text h2 {
    text-align: justify;
    font-size:130%;
    margin:10px;
}
.portafolio-text p {
    text-align: justify;
    font-size:95%;
    margin:10px;
}

.portafolio-item:hover .portafolio-text {
    transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img {
    transform: scale(1.15);
}

footer{

    background: #2a2a2a;
    height:60px;
    color:#ffffff;
    text-align:right;
}
footer div{
    text-align: right;
    max-width: 100%;
    margin-right:2%;

    margin-left: 2%; 
}
a.button{
  text-decoration:none;

}

.condiciones, .derechos,.button{
    display:inline-block;
    margin-top:5px;
    font-size:15px;
}

.derechos{

}
.button {
    background:none;
    border:0px;
    border-left:2px solid white;
    padding:15px ;
    color: #fff;
    cursor: pointer;
}

.button:hover {
  background: #3876ac;
  
}

@media screen and (max-width:849px) {
    footer{
        height:150px;
    }
.button{
        width:95%;
        text-align:center;
        border-left:none;
    }
}
.opcionExiste{

  color:#fff;
  font-size:12px;
}
.opcionExiste a{
  color:#e0e0e0;
  text-decoration:none;
}
.opcionExiste a:hover{
  text-decoration:underline;
}

/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedorModal {
  margin: 20% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
@media screen and (min-width:856px){
  .contenedorModal {
  margin: 12% auto;
}
}
.tituloModal {
  background: #009688;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tituloModal h2{
    width:90%;
}
.tituloModal h2, .cerrar{
    display:inline-block;
}
.cerrar{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}
.cerrar:hover{
    color:#080808;
}
.contenidoModal {
  padding: 3%;
  text-align:justify;
  background: #fff;
}

.footerModal {
  background: #009688;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

