body{
  background:url(../img/img2.jpg) no-repeat, fixed center center;
  background-size:cover;

}
.contenedor-General{
  margin-top:0px;
}
.conteRegistro{
  padding:2%;
  text-align:center;
}
.derecha, .izquierda{
  display:inline-block;

}
.derecha{
  width:45%;
  display:inline-block;
  margin:1%;
}

.izquierda{
  width:39%;
  height:150px;
  margin-bottom:15%;
  float:left;
  margin-top:15%;
  font-size:300%;
  margin-left:2%;
  color:white;

}
@media screen and (max-width:756px){
  .derecha, .izquierda{
    width:100%;
  }
  .izquierda{
    height:80px;
    margin-top:5%;
  }
}
.box{
  margin:auto;
  margin-top:auto px;
  width:90%;
  padding:5%;
  background:rgba(0, 0, 0, 0.6);
  border-radius:10px;
  text-align:center;
}

.iniciar {
    width: 26%;
    border-bottom: 2px solid white;
    padding: 5px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 5px;
}

.pIniciar, .iniciar {
    display: inline-block;
}

.pIniciar {
    color: #ffffff;
    background: transparent;
    width: 30%;
    margin-top: 15px;
}

.google {
    padding: 6px;
    background: white;
    color: #00000073;
    max-width: 130px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

strong {
    font-size: 22px;
    font-weight: bold;
}

.google:hover {
    background: #FF9800;
    color: #ffffff73;
    font-weight: bold;
    transition: all .7s;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.opcionExiste{

  color:#fff;
  font-size:12px;
}
.opcionExiste a{
  color:#e0e0e0;
  text-decoration:none;
}
.opcionExiste a:hover{
  text-decoration:underline;
}
.box h2{
  color:white;
}