* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: table;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #00000040;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff9800;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    background: #FF9800;
    /*/Este es el color del fondo/*/
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    height: 65px;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 65px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    padding: 0;
    display: flex;
    margin-right: -20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px ;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 7px;
    border-radius: 5px;
}

header nav ul li a:hover {
    color: #fff;
    background: #FB8C00;
}

.activo {
    background-color: #FB8C00;
    color: #fff;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*-----------Usuario------------*/
.usuarioResponsive{
    display:none;
}
#conteUser {
    z-index: 1000;
    width: 200px;
    background: #a2050500;
    margin-right: 20px;
    margin-top: 15px;
    text-align: right;
}

#btnUser {
    float: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 20px 7px 16px;
    border: 1px solid #ff9800;
    cursor: pointer;
    margin-top: 2px;
}

.panelUser {
    margin-top: 0px;
    float: right;
    border: 1px solid #ff9800;
    width: 168px;
    height: 140px;
    text-align: left;
    background: #ffffff;
    padding: 12px;
    color: #fff;
}

#contePanelUser {
    background: #ffffff;
    padding: 10px;
    height: 120px;
}

#opcionPanel {
    padding: 7px 0px;
    border-bottom: 1px solid #009688;
    text-align: right;
    color: #009688;
    cursor: pointer;
    font-weight: bold;
}

#opcionPanel:hover {
    color: #009688;
    transition: all .9s;
    border-bottom: 2px solid #009688;
    font-weight: bold;
}

#opcionCerrar {
    padding: 10px;
    background: #009688;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
}

#aCerrar {
    text-decoration: none;
    color: white;
}

#opcionCerrar:hover {
    background: #117168;
    transition: .7s;
}

@media screen and (max-width: 1100px) {
    #conteUser {
        display:none;
    }
    .usuarioResponsive{
        display:block;
    }
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 65px;
        left: -105%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.5);
        border-radius: 0;
        transition: all .7s;
        margin: 0px;
    }
}

.toggle {
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
    margin-top: 15px;
}

.toggle span {
    position: relative;
    width: 36px;
    height: 4px;
    background: white;
    display: block;
    border-radius: 5px;
    margin-bottom: 8px;
    transition: .5s;
}

.toggle span:nth-child(1) {
    transform-origin: left;
}

.toggle span:nth-child(2) {
    transform-origin: center;
}

.toggle span:nth-child(3) {
    transform-origin: left;
}

.toggle.activad span:nth-child(1) {
    transform: rotate(40deg);
    left: -5px;
}

.toggle.activad span:nth-child(2) {
    transform: rotate(315deg);
    right: 10px;
}

.toggle.activad span:nth-child(3) {
    transform: scaleX(0);
}

footer {
    display: table-row;
    background: #2a2a2a;
    height: 0px;
    color: #ffffff;
    text-align: right;
}

footer div {
    text-align: right;
    max-width: 94%;
    margin: 0.4%;
}

.condiciones, .derechos,.button {
    display: inline-block;
    font-size: 15px;
}

.derechos {
    margin-right: 20px;
}

a.button {
    background: none;
    border: 0px;
    border-left: 2px solid white;
    padding: 10px ;
    color: #fff;
    cursor: pointer;
    text-decoration:none;
}

.button:hover {
    background: #3876ac;
}

@media screen and (max-width: 849px) {
    .derechos,a.button {
        width:100%;
        margin-right: 0;
        margin-left: 0;
        border: none;

        text-align:center;
    }
}

.fondoVisible {
    background: #00000000;/*es un fondo de prueba la clase esta en el mismo div contenedor general*/
}


.contenedor-General {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
  
}

/*Diseno de tabla general*/
.Titulo h2{
    padding: 2%;
    color: #ff9800;
    text-align: center;
    font-size: 170%;
}

form {
    width: 100%;
    margin: auto;
    
}

.completo, .dos, .tres,.cuatro, .cinco, .seis, .siete {
    display: inline-block;
    margin: 5px;
    margin: auto;
}

.completo {
    width: 97%;
}

.dos {
    width: 48%;
}

.tres {
    width: 32%;
}

.cuatro {
    width: 24%;
}

.cinco {
    width: 19%;
}

.seis {
    width: 18.7%;
}

.siete {
    width: 13.5%;
}

@media screen and (max-width: 595px) {
    .completo, .dos, .tres,.cuatro, .cinco, .seis, .siete {
        width:100%;
    }
}

.selectbox {
    width: 100%;
    display: inline-block;
}

.labelSelect {
    text-align: left;
    color: #4CAF50;
}

select {
    position: relative;
    width: 100%;
    color: #4CAF50;
}

.selectbox input[type="date"] {
    height: 19px;
    color: #4CAF50;
}

.inputbox {
    position: relative;
    width: 100%;
}

.inputbox input, select, .selectbox input {
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    background: none;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 22px;
    border-bottom: 1px solid #4CAF50;
    outline: none;
}

.inputbox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 80%;

    color: #00a207;
    pointer-events: none;
    transition: all .5s;
}

input:focus, select:focus {
    border-bottom: 2px solid #009688;
    color: #009688;
}

.inputbox input:focus ~ label, .inputbox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #009688;
    font-size: 12px;
}

.txt-adjuntar {
    color: white;
}

.txt-adjuntar, .file {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.file {
    padding: 10px;
    position: relative;
    border-radius: 20px;
    background: #009688;
    margin: auto;
    color: #fff;
}

.file:hover {
    background: #00ceba;
    transition: all .7s;
}

input[type="file"] {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn-contenedor {
    text-align: center;
}

.btn-Enviar {
    background: #00ad9d;
    padding: 1%;
    border: 0;
    color: #fff;
    font-size: 120%;
    border-radius: 30px;
    width: 220px;
    cursor: pointer;
}

.btn-Enviar:hover {
    background: #27a095;
}

textarea {
    min-width: 97%;
    max-width: 97%;
    min-height: 70px;
    max-height: 70px;
    border: 1.5px solid #009688;
    font-family: sans-serif;
    outline: none;
    padding: 5px;
}

textarea:focus {
    border: 2px solid #ff9800;
}

.botones {
    width: 60%;
    padding: 1.9%;
    margin: 5px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    color: white;
    background: #009688;
}

.botones:hover {
    background: #088276;
}

.btnMitad {
    width: 28.8%;
}

/*Diseno de tabla general*/
.contenedorTable::-webkit-scrollbar {
    width: 7px;
    background: #2a2a2a;
}

.contenedorTable::-webkit-scrollbar-thumb {
    background-color: #109a16;
}

.contenedorTable {
    background: white;
    overflow: auto;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    height: 400px;
}

table {
    border: 1px solid #20a7ff;
    background-color: #e2e2e2;
    width: 100%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.titulo{
    background-color: #109a16;
    color: white;
    text-align: center;
}

td {
    border: 1px solid #007905;
    padding: 15px;
    min-width: 1px;
}

tr {
    background-color: #00000014;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

@media screen and (max-width: 511px) {
    td {
        border:1px solid ;
        padding: 5px;
        font-size: 10px;
    }
}

.btnEditar, .btnEliminar {
    border: 0;
    padding: 10px;
    color: white;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-size: 90%;
}

@media screen and (max-width: 1007px) {
    .btnEditar, .btnEliminar {
        border:0;
        padding: 5%;
        color: white;
        width: 100%;
        display: block;
        border-radius: 5px;
    }

    .contenedorTable {
        width: 80%;
        max-width: 400px;
        height: 250px;
    }
}

.btnEditar {
    background-color: #FF9800;
}

.btnEditar:hover {
    background-color: #EF6C00;
}

.btnEliminar:hover {
    background-color: #f30000;
}

.btnEliminar {
    margin-top: 5px;
    background-color: #ad0000;
}

/*--------Diseno de noticias-------------*/
.noticias {
    width: 100%;
    border-top: 3px solid #009688;
    background: white;
}

.imagenNoticia {
    width: 100%;
    height: 300px;
}

.imagenFondo1, #noticia1 {
    display: inline-block;
}

.imagenFondo1 {
    width: 36.6%;
    height: 250px;
}

#fecha {
    position: absolute;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background: #009688;
    text-align: center;
    color: #ffffff;
}

#noticia1 {
    float: right;
    width: 63%;
    background: #ffffff;
    color: #000000;
}

.boton_noticia1 {
    text-decoration: none;
    padding: 10px 5px 10px 10px;
    text-align: center;
    border: 2px solid #009688;
    border-radius: 7px;
    color: #716553;
}

.subTitulo {
    color: #ff9800;
}

p {
    line-height: 1.4;
}

.boton_noticia1:hover {
    color: #ffffff;
    background-color: #009688;
    transition: all .8s;
}

.btnCentrado {
    width: 100%;
    text-align: center;
}

.verTodo {
    background: #FF9800;
    padding: 1.5%;
    width: 25%;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 130%;
}

.verTodo:hover {
    background: #EF6C00;
    transition: all .7s;
}

@media screen and (max-width: 896px) {
    .noticias {
        height:650px;
    }

    .imagenFondo1 {
        width: 100%;
    }

    #noticia1 {
        width: 100%;
    }
}

.paginacion {
    width: 90%;
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    j }

#a {
    text-decoration: none;
    color: #03A9F4;
    border: 1px solid #00000026;
    display: flex;
    background: white;
    padding: 10px;
    margin: 0px;
    display: inline-block;
}

#a:hover {
    background: #00000063;
    border: 1px solid #00000063;
    color: white
}


/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedorModal {
  margin: 20% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
@media screen and (min-width:856px){
  .contenedorModal {
  margin: 12% auto;
}
}
.tituloModal {
  background: #009688;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tituloModal h2{
    width:90%;
}
.tituloModal h2, .cerrar{
    display:inline-block;
}
.cerrar{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}
.cerrar:hover{
    color:#080808;
}
.contenidoModal {
  padding: 3%;
  text-align:justify;
  background: #fff;
}

.footerModal {
  background: #009688;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

