@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
  format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	font-family:sans-serif;

}

.flexslider{
	margin-top:65px;
	width: 100%;
	position: relative;
	height:70vh;
}

.slides{
	overflow: hidden;
}

.slides img{
	min-width: 100%;
	height:70vh;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5%;
	z-index: 999;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}

.flex-control-nav li a{
	display: block;
	background: #fff0f0;
	width: 40px;
	height: 10px;
	border-radius: 12px;
	text-indent: -9999px;

}

.flex-control-nav li a:hover{
	background: #FFA726;
}

.flex-control-nav li a.flex-active{
	background: #FF9800;	
}

.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;
}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}



.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}

.flex-caption p{

	position: absolute;
	top: 30%;
	text-align: center;
	width: 100%;
	font-size: 405%;
	color: #fff;
	font-weight: bold;
}
.flex-caption .verMas{
	position: absolute;
	top: 60%;
	text-align: center;
	width: 100%;
	font-size: 150%;
	font-weight: bold;

}
.flex-caption a{
	text-decoration: none;
    text-align:center;
    background:#FF9800;
    border-radius:50px;
    color: #000000;
	padding:1% 3% 1% 3%;
	font-size: 110%;
	color: #fff;
	font-weight: bold;
}

@media screen and (max-width: 820px) {
	.flex-caption p{
		top:20%;
		font-size:250%;
		
}
.flex-caption .verMas{
top: 50%
}
}

.flex-caption a:hover{
    color: #ffffff;
    background-color: #ff9800d6; 
}
    

