@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i89asb');
  src:  url('fonts/icomoon.eot?i89asb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i89asb') format('truetype'),
    url('fonts/icomoon.woff?i89asb') format('woff'),
    url('fonts/icomoon.svg?i89asb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-airplay:before {
  content: "\e901";
}
.icon-alert-circle:before {
  content: "\e902";
}
.icon-alert-octagon:before {
  content: "\e903";
}
.icon-alert-triangle:before {
  content: "\e904";
}
.icon-align-center:before {
  content: "\e905";
}
.icon-align-justify:before {
  content: "\e906";
}
.icon-align-left:before {
  content: "\e907";
}
.icon-align-right:before {
  content: "\e908";
}
.icon-anchor:before {
  content: "\e909";
}
.icon-aperture:before {
  content: "\e90a";
}
.icon-archive:before {
  content: "\e90b";
}
.icon-arrow-down1:before {
  content: "\e90c";
}
.icon-arrow-down-circle:before {
  content: "\e90d";
}
.icon-arrow-down-left1:before {
  content: "\e90e";
}
.icon-arrow-down-right1:before {
  content: "\e90f";
}
.icon-arrow-left1:before {
  content: "\e910";
}
.icon-arrow-left-circle:before {
  content: "\e911";
}
.icon-arrow-right1:before {
  content: "\e912";
}
.icon-arrow-right-circle:before {
  content: "\e913";
}
.icon-arrow-up1:before {
  content: "\e914";
}
.icon-arrow-up-circle:before {
  content: "\e915";
}
.icon-arrow-up-left1:before {
  content: "\e916";
}
.icon-arrow-up-right1:before {
  content: "\e917";
}
.icon-at-sign:before {
  content: "\e918";
}
.icon-award:before {
  content: "\e919";
}
.icon-bar-chart:before {
  content: "\e91a";
}
.icon-bar-chart-2:before {
  content: "\e91b";
}
.icon-battery:before {
  content: "\e91c";
}
.icon-battery-charging:before {
  content: "\e91d";
}
.icon-bell1:before {
  content: "\e91e";
}
.icon-bell-off:before {
  content: "\e91f";
}
.icon-bluetooth:before {
  content: "\e920";
}
.icon-bold1:before {
  content: "\e921";
}
.icon-book1:before {
  content: "\e922";
}
.icon-book-open:before {
  content: "\e923";
}
.icon-bookmark1:before {
  content: "\e924";
}
.icon-box:before {
  content: "\e925";
}
.icon-briefcase1:before {
  content: "\e926";
}
.icon-calendar1:before {
  content: "\e927";
}
.icon-camera1:before {
  content: "\e928";
}
.icon-camera-off:before {
  content: "\e929";
}
.icon-cast:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e92b";
}
.icon-check-circle:before {
  content: "\e92c";
}
.icon-check-square:before {
  content: "\e92d";
}
.icon-chevron-down:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-chevron-up:before {
  content: "\e931";
}
.icon-chevrons-down:before {
  content: "\e932";
}
.icon-chevrons-left:before {
  content: "\e933";
}
.icon-chevrons-right:before {
  content: "\e934";
}
.icon-chevrons-up:before {
  content: "\e935";
}
.icon-chrome1:before {
  content: "\e936";
}
.icon-circle:before {
  content: "\e937";
}
.icon-clipboard1:before {
  content: "\e938";
}
.icon-clock1:before {
  content: "\e939";
}
.icon-cloud1:before {
  content: "\e93a";
}
.icon-cloud-drizzle:before {
  content: "\e93b";
}
.icon-cloud-lightning:before {
  content: "\e93c";
}
.icon-cloud-off:before {
  content: "\e93d";
}
.icon-cloud-rain:before {
  content: "\e93e";
}
.icon-cloud-snow:before {
  content: "\e93f";
}
.icon-code:before {
  content: "\e940";
}
.icon-codepen1:before {
  content: "\e941";
}
.icon-command1:before {
  content: "\e942";
}
.icon-compass1:before {
  content: "\e943";
}
.icon-copy1:before {
  content: "\e944";
}
.icon-corner-down-left:before {
  content: "\e945";
}
.icon-corner-down-right:before {
  content: "\e946";
}
.icon-corner-left-down:before {
  content: "\e947";
}
.icon-corner-left-up:before {
  content: "\e948";
}
.icon-corner-right-down:before {
  content: "\e949";
}
.icon-corner-right-up:before {
  content: "\e94a";
}
.icon-corner-up-left:before {
  content: "\e94b";
}
.icon-corner-up-right:before {
  content: "\e94c";
}
.icon-cpu:before {
  content: "\e94d";
}
.icon-credit-card1:before {
  content: "\e94e";
}
.icon-crop1:before {
  content: "\e94f";
}
.icon-crosshair:before {
  content: "\e950";
}
.icon-database1:before {
  content: "\e951";
}
.icon-delete:before {
  content: "\e952";
}
.icon-disc:before {
  content: "\e953";
}
.icon-dollar-sign:before {
  content: "\e954";
}
.icon-download1:before {
  content: "\e955";
}
.icon-download-cloud:before {
  content: "\e956";
}
.icon-droplet1:before {
  content: "\e957";
}
.icon-edit:before {
  content: "\e958";
}
.icon-edit-2:before {
  content: "\e959";
}
.icon-edit-3:before {
  content: "\e95a";
}
.icon-external-link:before {
  content: "\e95b";
}
.icon-eye1:before {
  content: "\e95c";
}
.icon-eye-off:before {
  content: "\e95d";
}
.icon-facebook1:before {
  content: "\e95e";
}
.icon-fast-forward:before {
  content: "\e95f";
}
.icon-feather:before {
  content: "\e960";
}
.icon-file:before {
  content: "\e961";
}
.icon-file-minus:before {
  content: "\e962";
}
.icon-file-plus:before {
  content: "\e963";
}
.icon-file-text1:before {
  content: "\e964";
}
.icon-film1:before {
  content: "\e965";
}
.icon-filter1:before {
  content: "\e966";
}
.icon-flag1:before {
  content: "\e967";
}
.icon-folder1:before {
  content: "\e968";
}
.icon-folder-minus1:before {
  content: "\e969";
}
.icon-folder-plus1:before {
  content: "\e96a";
}
.icon-gift1:before {
  content: "\e96b";
}
.icon-git-branch:before {
  content: "\e96c";
}
.icon-git-commit:before {
  content: "\e96d";
}
.icon-git-merge:before {
  content: "\e96e";
}
.icon-git-pull-request:before {
  content: "\e96f";
}
.icon-github1:before {
  content: "\e970";
}
.icon-gitlab:before {
  content: "\e971";
}
.icon-globe:before {
  content: "\e972";
}
.icon-grid:before {
  content: "\e973";
}
.icon-hard-drive:before {
  content: "\e974";
}
.icon-hash:before {
  content: "\e975";
}
.icon-headphones1:before {
  content: "\e976";
}
.icon-heart1:before {
  content: "\e977";
}
.icon-help-circle:before {
  content: "\e978";
}
.icon-home1:before {
  content: "\e979";
}
.icon-image1:before {
  content: "\e97a";
}
.icon-inbox:before {
  content: "\e97b";
}
.icon-info1:before {
  content: "\e97c";
}
.icon-instagram1:before {
  content: "\e97d";
}
.icon-italic1:before {
  content: "\e97e";
}
.icon-layers:before {
  content: "\e97f";
}
.icon-layout:before {
  content: "\e980";
}
.icon-life-buoy:before {
  content: "\e981";
}
.icon-link1:before {
  content: "\e982";
}
.icon-link-2:before {
  content: "\e983";
}
.icon-linkedin1:before {
  content: "\e984";
}
.icon-list1:before {
  content: "\e985";
}
.icon-loader:before {
  content: "\e986";
}
.icon-lock1:before {
  content: "\e987";
}
.icon-log-in:before {
  content: "\e988";
}
.icon-log-out:before {
  content: "\e989";
}
.icon-mail1:before {
  content: "\e98a";
}
.icon-map1:before {
  content: "\e98b";
}
.icon-map-pin:before {
  content: "\e98c";
}
.icon-maximize:before {
  content: "\e98d";
}
.icon-maximize-2:before {
  content: "\e98e";
}
.icon-menu1:before {
  content: "\e98f";
}
.icon-message-circle:before {
  content: "\e990";
}
.icon-message-square:before {
  content: "\e991";
}
.icon-mic1:before {
  content: "\e992";
}
.icon-mic-off:before {
  content: "\e993";
}
.icon-minimize:before {
  content: "\e994";
}
.icon-minimize-2:before {
  content: "\e995";
}
.icon-minus1:before {
  content: "\e996";
}
.icon-minus-circle:before {
  content: "\e997";
}
.icon-minus-square:before {
  content: "\e998";
}
.icon-monitor:before {
  content: "\e999";
}
.icon-moon:before {
  content: "\e99a";
}
.icon-more-horizontal:before {
  content: "\e99b";
}
.icon-more-vertical:before {
  content: "\e99c";
}
.icon-move:before {
  content: "\e99d";
}
.icon-music1:before {
  content: "\e99e";
}
.icon-navigation:before {
  content: "\e99f";
}
.icon-navigation-2:before {
  content: "\e9a0";
}
.icon-octagon:before {
  content: "\e9a1";
}
.icon-package:before {
  content: "\e9a2";
}
.icon-paperclip:before {
  content: "\e9a3";
}
.icon-pause1:before {
  content: "\e9a4";
}
.icon-pause-circle:before {
  content: "\e9a5";
}
.icon-percent:before {
  content: "\e9a6";
}
.icon-phone1:before {
  content: "\e9a7";
}
.icon-phone-call:before {
  content: "\e9a8";
}
.icon-phone-forwarded:before {
  content: "\e9a9";
}
.icon-phone-incoming:before {
  content: "\e9aa";
}
.icon-phone-missed:before {
  content: "\e9ab";
}
.icon-phone-off:before {
  content: "\e9ac";
}
.icon-phone-outgoing:before {
  content: "\e9ad";
}
.icon-pie-chart1:before {
  content: "\e9ae";
}
.icon-play1:before {
  content: "\e9af";
}
.icon-play-circle:before {
  content: "\e9b0";
}
.icon-plus1:before {
  content: "\e9b1";
}
.icon-plus-circle:before {
  content: "\e9b2";
}
.icon-plus-square:before {
  content: "\e9b3";
}
.icon-pocket:before {
  content: "\e9b4";
}
.icon-power1:before {
  content: "\e9b5";
}
.icon-printer1:before {
  content: "\e9b6";
}
.icon-radio:before {
  content: "\e9b7";
}
.icon-refresh-ccw:before {
  content: "\e9b8";
}
.icon-refresh-cw:before {
  content: "\e9b9";
}
.icon-repeat:before {
  content: "\e9ba";
}
.icon-rewind:before {
  content: "\e9bb";
}
.icon-rotate-ccw:before {
  content: "\e9bc";
}
.icon-rotate-cw:before {
  content: "\e9bd";
}
.icon-rss1:before {
  content: "\e9be";
}
.icon-save:before {
  content: "\e9bf";
}
.icon-scissors1:before {
  content: "\e9c0";
}
.icon-search1:before {
  content: "\e9c1";
}
.icon-send:before {
  content: "\e9c2";
}
.icon-server:before {
  content: "\e9c3";
}
.icon-settings:before {
  content: "\e9c4";
}
.icon-share1:before {
  content: "\e9c5";
}
.icon-share-2:before {
  content: "\e9c6";
}
.icon-shield1:before {
  content: "\e9c7";
}
.icon-shield-off:before {
  content: "\e9c8";
}
.icon-shopping-bag:before {
  content: "\e9c9";
}
.icon-shopping-cart:before {
  content: "\e9ca";
}
.icon-shuffle1:before {
  content: "\e9cb";
}
.icon-sidebar:before {
  content: "\e9cc";
}
.icon-skip-back:before {
  content: "\e9cd";
}
.icon-skip-forward:before {
  content: "\e9ce";
}
.icon-slack:before {
  content: "\e9cf";
}
.icon-slash:before {
  content: "\e9d0";
}
.icon-sliders:before {
  content: "\e9d1";
}
.icon-smartphone:before {
  content: "\e9d2";
}
.icon-speaker:before {
  content: "\e9d3";
}
.icon-square:before {
  content: "\e9d4";
}
.icon-star:before {
  content: "\e9d5";
}
.icon-stop-circle:before {
  content: "\e9d6";
}
.icon-sun1:before {
  content: "\e9d7";
}
.icon-sunrise:before {
  content: "\e9d8";
}
.icon-sunset:before {
  content: "\e9d9";
}
.icon-tablet1:before {
  content: "\e9da";
}
.icon-tag:before {
  content: "\e9db";
}
.icon-target1:before {
  content: "\e9dc";
}
.icon-terminal1:before {
  content: "\e9dd";
}
.icon-thermometer:before {
  content: "\e9de";
}
.icon-thumbs-down:before {
  content: "\e9df";
}
.icon-thumbs-up:before {
  content: "\e9e0";
}
.icon-toggle-left:before {
  content: "\e9e1";
}
.icon-toggle-right:before {
  content: "\e9e2";
}
.icon-trash:before {
  content: "\e9e3";
}
.icon-trash-2:before {
  content: "\e9e4";
}
.icon-trending-down:before {
  content: "\e9e5";
}
.icon-trending-up:before {
  content: "\e9e6";
}
.icon-triangle:before {
  content: "\e9e7";
}
.icon-truck1:before {
  content: "\e9e8";
}
.icon-tv1:before {
  content: "\e9e9";
}
.icon-twitter1:before {
  content: "\e9ea";
}
.icon-type:before {
  content: "\e9eb";
}
.icon-umbrella:before {
  content: "\e9ec";
}
.icon-underline1:before {
  content: "\e9ed";
}
.icon-unlock:before {
  content: "\e9ee";
}
.icon-upload1:before {
  content: "\e9ef";
}
.icon-upload-cloud:before {
  content: "\e9f0";
}
.icon-user1:before {
  content: "\e9f1";
}
.icon-user-check1:before {
  content: "\e9f2";
}
.icon-user-minus1:before {
  content: "\e9f3";
}
.icon-user-plus1:before {
  content: "\e9f4";
}
.icon-user-x:before {
  content: "\e9f5";
}
.icon-users1:before {
  content: "\e9f6";
}
.icon-video:before {
  content: "\e9f7";
}
.icon-video-off:before {
  content: "\e9f8";
}
.icon-voicemail:before {
  content: "\e9f9";
}
.icon-volume:before {
  content: "\e9fa";
}
.icon-volume-1:before {
  content: "\e9fb";
}
.icon-volume-2:before {
  content: "\e9fc";
}
.icon-volume-x:before {
  content: "\e9fd";
}
.icon-watch:before {
  content: "\e9fe";
}
.icon-wifi:before {
  content: "\e9ff";
}
.icon-wifi-off:before {
  content: "\ea00";
}
.icon-wind:before {
  content: "\ea01";
}
.icon-x:before {
  content: "\ea02";
}
.icon-x-circle:before {
  content: "\ea03";
}
.icon-x-square:before {
  content: "\ea04";
}
.icon-youtube1:before {
  content: "\ea05";
}
.icon-zap:before {
  content: "\ea06";
}
.icon-zap-off:before {
  content: "\ea07";
}
.icon-zoom-in1:before {
  content: "\ea08";
}
.icon-zoom-out1:before {
  content: "\ea09";
}
.icon-warning1:before {
  content: "\ea0a";
}
.icon-cloud2:before {
  content: "\ea0b";
}
.icon-locked:before {
  content: "\ea0c";
}
.icon-inbox1:before {
  content: "\ea0d";
}
.icon-comment:before {
  content: "\ea0e";
}
.icon-mic2:before {
  content: "\ea0f";
}
.icon-envelope:before {
  content: "\ea10";
}
.icon-briefcase2:before {
  content: "\ea11";
}
.icon-cart1:before {
  content: "\ea12";
}
.icon-contrast1:before {
  content: "\ea13";
}
.icon-clock3:before {
  content: "\ea14";
}
.icon-user2:before {
  content: "\ea15";
}
.icon-cog1:before {
  content: "\ea16";
}
.icon-music2:before {
  content: "\ea17";
}
.icon-twitter2:before {
  content: "\ea18";
}
.icon-pencil1:before {
  content: "\ea19";
}
.icon-frame:before {
  content: "\ea1a";
}
.icon-switch1:before {
  content: "\ea1b";
}
.icon-star1:before {
  content: "\ea1c";
}
.icon-key1:before {
  content: "\ea1d";
}
.icon-chart:before {
  content: "\ea1e";
}
.icon-apple:before {
  content: "\ea1f";
}
.icon-file1:before {
  content: "\ea20";
}
.icon-plus2:before {
  content: "\ea21";
}
.icon-minus2:before {
  content: "\ea22";
}
.icon-picture:before {
  content: "\ea23";
}
.icon-folder2:before {
  content: "\ea24";
}
.icon-camera2:before {
  content: "\ea25";
}
.icon-search2:before {
  content: "\ea26";
}
.icon-dribbble1:before {
  content: "\ea27";
}
.icon-forrst:before {
  content: "\ea28";
}
.icon-feed1:before {
  content: "\ea29";
}
.icon-blocked1:before {
  content: "\ea2a";
}
.icon-target2:before {
  content: "\ea2b";
}
.icon-play4:before {
  content: "\ea2c";
}
.icon-pause3:before {
  content: "\ea2d";
}
.icon-bug1:before {
  content: "\ea2e";
}
.icon-console:before {
  content: "\ea2f";
}
.icon-film2:before {
  content: "\ea30";
}
.icon-type1:before {
  content: "\ea31";
}
.icon-home4:before {
  content: "\ea32";
}
.icon-earth1:before {
  content: "\ea33";
}
.icon-location1:before {
  content: "\ea34";
}
.icon-info2:before {
  content: "\ea35";
}
.icon-eye2:before {
  content: "\ea36";
}
.icon-heart2:before {
  content: "\ea37";
}
.icon-bookmark2:before {
  content: "\ea38";
}
.icon-wrench1:before {
  content: "\ea39";
}
.icon-calendar2:before {
  content: "\ea3a";
}
.icon-window:before {
  content: "\ea3b";
}
.icon-monitor1:before {
  content: "\ea3c";
}
.icon-mobile1:before {
  content: "\ea3d";
}
.icon-droplet2:before {
  content: "\ea3e";
}
.icon-mouse:before {
  content: "\ea3f";
}
.icon-refresh:before {
  content: "\ea40";
}
.icon-location3:before {
  content: "\ea41";
}
.icon-tag1:before {
  content: "\ea42";
}
.icon-phone2:before {
  content: "\ea43";
}
.icon-star2:before {
  content: "\ea44";
}
.icon-pointer:before {
  content: "\ea45";
}
.icon-thumbsup:before {
  content: "\ea46";
}
.icon-thumbsdown:before {
  content: "\ea47";
}
.icon-headphones2:before {
  content: "\ea48";
}
.icon-move1:before {
  content: "\ea49";
}
.icon-checkmark1:before {
  content: "\ea4a";
}
.icon-cancel:before {
  content: "\ea4b";
}
.icon-skype1:before {
  content: "\ea4c";
}
.icon-gift2:before {
  content: "\ea4d";
}
.icon-cone:before {
  content: "\ea4e";
}
.icon-alarm1:before {
  content: "\ea4f";
}
.icon-coffee:before {
  content: "\ea50";
}
.icon-basket:before {
  content: "\ea51";
}
.icon-flag2:before {
  content: "\ea52";
}
.icon-ipod:before {
  content: "\ea53";
}
.icon-trashcan:before {
  content: "\ea54";
}
.icon-bolt:before {
  content: "\ea55";
}
.icon-ampersand:before {
  content: "\ea56";
}
.icon-compass3:before {
  content: "\ea57";
}
.icon-list3:before {
  content: "\ea58";
}
.icon-grid1:before {
  content: "\ea59";
}
.icon-volume1:before {
  content: "\ea5a";
}
.icon-volume2:before {
  content: "\ea5b";
}
.icon-stats:before {
  content: "\ea5c";
}
.icon-target3:before {
  content: "\ea5d";
}
.icon-forward1:before {
  content: "\ea5e";
}
.icon-paperclip1:before {
  content: "\ea5f";
}
.icon-keyboard1:before {
  content: "\ea60";
}
.icon-crop2:before {
  content: "\ea61";
}
.icon-floppy:before {
  content: "\ea62";
}
.icon-filter2:before {
  content: "\ea63";
}
.icon-trophy1:before {
  content: "\ea64";
}
.icon-diary:before {
  content: "\ea65";
}
.icon-addressbook:before {
  content: "\ea66";
}
.icon-stop1:before {
  content: "\ea67";
}
.icon-smiley:before {
  content: "\ea68";
}
.icon-shit:before {
  content: "\ea69";
}
.icon-bookmark3:before {
  content: "\ea6a";
}
.icon-camera3:before {
  content: "\ea6b";
}
.icon-lamp:before {
  content: "\ea6c";
}
.icon-disk:before {
  content: "\ea6d";
}
.icon-button:before {
  content: "\ea6e";
}
.icon-database2:before {
  content: "\ea6f";
}
.icon-creditcard:before {
  content: "\ea70";
}
.icon-atom:before {
  content: "\ea71";
}
.icon-winsows:before {
  content: "\ea72";
}
.icon-target4:before {
  content: "\ea73";
}
.icon-battery1:before {
  content: "\ea74";
}
.icon-code1:before {
  content: "\ea75";
}
.icon-home:before {
  content: "\ea76";
}
.icon-home2:before {
  content: "\ea77";
}
.icon-home3:before {
  content: "\ea78";
}
.icon-office:before {
  content: "\ea79";
}
.icon-newspaper:before {
  content: "\ea7a";
}
.icon-pencil:before {
  content: "\ea7b";
}
.icon-pencil2:before {
  content: "\ea7c";
}
.icon-quill:before {
  content: "\ea7d";
}
.icon-pen:before {
  content: "\ea7e";
}
.icon-blog:before {
  content: "\ea7f";
}
.icon-eyedropper:before {
  content: "\ea80";
}
.icon-droplet:before {
  content: "\ea81";
}
.icon-paint-format:before {
  content: "\ea82";
}
.icon-image:before {
  content: "\ea83";
}
.icon-images:before {
  content: "\ea84";
}
.icon-camera:before {
  content: "\ea85";
}
.icon-headphones:before {
  content: "\ea86";
}
.icon-music:before {
  content: "\ea87";
}
.icon-play:before {
  content: "\ea88";
}
.icon-film:before {
  content: "\ea89";
}
.icon-video-camera:before {
  content: "\ea8a";
}
.icon-dice:before {
  content: "\ea8b";
}
.icon-pacman:before {
  content: "\ea8c";
}
.icon-spades:before {
  content: "\ea8d";
}
.icon-clubs:before {
  content: "\ea8e";
}
.icon-diamonds:before {
  content: "\ea8f";
}
.icon-bullhorn:before {
  content: "\ea90";
}
.icon-connection:before {
  content: "\ea91";
}
.icon-podcast:before {
  content: "\ea92";
}
.icon-feed:before {
  content: "\ea93";
}
.icon-mic:before {
  content: "\ea94";
}
.icon-book:before {
  content: "\ea95";
}
.icon-books:before {
  content: "\ea96";
}
.icon-library:before {
  content: "\ea97";
}
.icon-file-text:before {
  content: "\ea98";
}
.icon-profile:before {
  content: "\ea99";
}
.icon-file-empty:before {
  content: "\ea9a";
}
.icon-files-empty:before {
  content: "\ea9b";
}
.icon-file-text2:before {
  content: "\ea9c";
}
.icon-file-picture:before {
  content: "\ea9d";
}
.icon-file-music:before {
  content: "\ea9e";
}
.icon-file-play:before {
  content: "\ea9f";
}
.icon-file-video:before {
  content: "\eaa0";
}
.icon-file-zip:before {
  content: "\eaa1";
}
.icon-copy:before {
  content: "\eaa2";
}
.icon-paste:before {
  content: "\eaa3";
}
.icon-stack:before {
  content: "\eaa4";
}
.icon-folder:before {
  content: "\eaa5";
}
.icon-folder-open:before {
  content: "\eaa6";
}
.icon-folder-plus:before {
  content: "\eaa7";
}
.icon-folder-minus:before {
  content: "\eaa8";
}
.icon-folder-download:before {
  content: "\eaa9";
}
.icon-folder-upload:before {
  content: "\eaaa";
}
.icon-price-tag:before {
  content: "\eaab";
}
.icon-price-tags:before {
  content: "\eaac";
}
.icon-barcode:before {
  content: "\eaad";
}
.icon-qrcode:before {
  content: "\eaae";
}
.icon-ticket:before {
  content: "\eaaf";
}
.icon-cart:before {
  content: "\eab0";
}
.icon-coin-dollar:before {
  content: "\eab1";
}
.icon-coin-euro:before {
  content: "\eab2";
}
.icon-coin-pound:before {
  content: "\eab3";
}
.icon-coin-yen:before {
  content: "\eab4";
}
.icon-credit-card:before {
  content: "\eab5";
}
.icon-calculator:before {
  content: "\eab6";
}
.icon-lifebuoy:before {
  content: "\eab7";
}
.icon-phone:before {
  content: "\eab8";
}
.icon-phone-hang-up:before {
  content: "\eab9";
}
.icon-address-book:before {
  content: "\eaba";
}
.icon-envelop:before {
  content: "\eabb";
}
.icon-pushpin:before {
  content: "\eabc";
}
.icon-location:before {
  content: "\eabd";
}
.icon-location2:before {
  content: "\eabe";
}
.icon-compass:before {
  content: "\eabf";
}
.icon-compass2:before {
  content: "\eac0";
}
.icon-map:before {
  content: "\eac1";
}
.icon-map2:before {
  content: "\eac2";
}
.icon-history:before {
  content: "\eac3";
}
.icon-clock:before {
  content: "\eac4";
}
.icon-clock2:before {
  content: "\eac5";
}
.icon-alarm:before {
  content: "\eac6";
}
.icon-bell:before {
  content: "\eac7";
}
.icon-stopwatch:before {
  content: "\eac8";
}
.icon-calendar:before {
  content: "\eac9";
}
.icon-printer:before {
  content: "\eaca";
}
.icon-keyboard:before {
  content: "\eacb";
}
.icon-display:before {
  content: "\eacc";
}
.icon-laptop:before {
  content: "\eacd";
}
.icon-mobile:before {
  content: "\eace";
}
.icon-mobile2:before {
  content: "\eacf";
}
.icon-tablet:before {
  content: "\ead0";
}
.icon-tv:before {
  content: "\ead1";
}
.icon-drawer:before {
  content: "\ead2";
}
.icon-drawer2:before {
  content: "\ead3";
}
.icon-box-add:before {
  content: "\ead4";
}
.icon-box-remove:before {
  content: "\ead5";
}
.icon-download:before {
  content: "\ead6";
}
.icon-upload:before {
  content: "\ead7";
}
.icon-floppy-disk:before {
  content: "\ead8";
}
.icon-drive:before {
  content: "\ead9";
}
.icon-database:before {
  content: "\eada";
}
.icon-undo:before {
  content: "\eadb";
}
.icon-redo:before {
  content: "\eadc";
}
.icon-undo2:before {
  content: "\eadd";
}
.icon-redo2:before {
  content: "\eade";
}
.icon-forward:before {
  content: "\eadf";
}
.icon-reply:before {
  content: "\eae0";
}
.icon-bubble:before {
  content: "\eae1";
}
.icon-bubbles:before {
  content: "\eae2";
}
.icon-bubbles2:before {
  content: "\eae3";
}
.icon-bubble2:before {
  content: "\eae4";
}
.icon-bubbles3:before {
  content: "\eae5";
}
.icon-bubbles4:before {
  content: "\eae6";
}
.icon-user:before {
  content: "\eae7";
}
.icon-users:before {
  content: "\eae8";
}
.icon-user-plus:before {
  content: "\eae9";
}
.icon-user-minus:before {
  content: "\eaea";
}
.icon-user-check:before {
  content: "\eaeb";
}
.icon-user-tie:before {
  content: "\eaec";
}
.icon-quotes-left:before {
  content: "\eaed";
}
.icon-quotes-right:before {
  content: "\eaee";
}
.icon-hour-glass:before {
  content: "\eaef";
}
.icon-spinner:before {
  content: "\eaf0";
}
.icon-spinner2:before {
  content: "\eaf1";
}
.icon-spinner3:before {
  content: "\eaf2";
}
.icon-spinner4:before {
  content: "\eaf3";
}
.icon-spinner5:before {
  content: "\eaf4";
}
.icon-spinner6:before {
  content: "\eaf5";
}
.icon-spinner7:before {
  content: "\eaf6";
}
.icon-spinner8:before {
  content: "\eaf7";
}
.icon-spinner9:before {
  content: "\eaf8";
}
.icon-spinner10:before {
  content: "\eaf9";
}
.icon-spinner11:before {
  content: "\eafa";
}
.icon-binoculars:before {
  content: "\eafb";
}
.icon-search:before {
  content: "\eafc";
}
.icon-zoom-in:before {
  content: "\eafd";
}
.icon-zoom-out:before {
  content: "\eafe";
}
.icon-enlarge:before {
  content: "\eaff";
}
.icon-shrink:before {
  content: "\eb00";
}
.icon-enlarge2:before {
  content: "\eb01";
}
.icon-shrink2:before {
  content: "\eb02";
}
.icon-key:before {
  content: "\eb03";
}
.icon-key2:before {
  content: "\eb04";
}
.icon-lock:before {
  content: "\eb05";
}
.icon-unlocked:before {
  content: "\eb06";
}
.icon-wrench:before {
  content: "\eb07";
}
.icon-equalizer:before {
  content: "\eb08";
}
.icon-equalizer2:before {
  content: "\eb09";
}
.icon-cog:before {
  content: "\eb0a";
}
.icon-cogs:before {
  content: "\eb0b";
}
.icon-hammer:before {
  content: "\eb0c";
}
.icon-magic-wand:before {
  content: "\eb0d";
}
.icon-aid-kit:before {
  content: "\eb0e";
}
.icon-bug:before {
  content: "\eb0f";
}
.icon-pie-chart:before {
  content: "\eb10";
}
.icon-stats-dots:before {
  content: "\eb11";
}
.icon-stats-bars:before {
  content: "\eb12";
}
.icon-stats-bars2:before {
  content: "\eb13";
}
.icon-trophy:before {
  content: "\eb14";
}
.icon-gift:before {
  content: "\eb15";
}
.icon-glass:before {
  content: "\eb16";
}
.icon-glass2:before {
  content: "\eb17";
}
.icon-mug:before {
  content: "\eb18";
}
.icon-spoon-knife:before {
  content: "\eb19";
}
.icon-leaf:before {
  content: "\eb1a";
}
.icon-rocket:before {
  content: "\eb1b";
}
.icon-meter:before {
  content: "\eb1c";
}
.icon-meter2:before {
  content: "\eb1d";
}
.icon-hammer2:before {
  content: "\eb1e";
}
.icon-fire:before {
  content: "\eb1f";
}
.icon-lab:before {
  content: "\eb20";
}
.icon-magnet:before {
  content: "\eb21";
}
.icon-bin:before {
  content: "\eb22";
}
.icon-bin2:before {
  content: "\eb23";
}
.icon-briefcase:before {
  content: "\eb24";
}
.icon-airplane:before {
  content: "\eb25";
}
.icon-truck:before {
  content: "\eb26";
}
.icon-road:before {
  content: "\eb27";
}
.icon-accessibility:before {
  content: "\eb28";
}
.icon-target:before {
  content: "\eb29";
}
.icon-shield:before {
  content: "\eb2a";
}
.icon-power:before {
  content: "\eb2b";
}
.icon-switch:before {
  content: "\eb2c";
}
.icon-power-cord:before {
  content: "\eb2d";
}
.icon-clipboard:before {
  content: "\eb2e";
}
.icon-list-numbered:before {
  content: "\eb2f";
}
.icon-list:before {
  content: "\eb30";
}
.icon-list2:before {
  content: "\eb31";
}
.icon-tree:before {
  content: "\eb32";
}
.icon-menu:before {
  content: "\eb33";
}
.icon-menu2:before {
  content: "\eb34";
}
.icon-menu3:before {
  content: "\eb35";
}
.icon-menu4:before {
  content: "\eb36";
}
.icon-cloud:before {
  content: "\eb37";
}
.icon-cloud-download:before {
  content: "\eb38";
}
.icon-cloud-upload:before {
  content: "\eb39";
}
.icon-cloud-check:before {
  content: "\eb3a";
}
.icon-download2:before {
  content: "\eb3b";
}
.icon-upload2:before {
  content: "\eb3c";
}
.icon-download3:before {
  content: "\eb3d";
}
.icon-upload3:before {
  content: "\eb3e";
}
.icon-sphere:before {
  content: "\eb3f";
}
.icon-earth:before {
  content: "\eb40";
}
.icon-link:before {
  content: "\eb41";
}
.icon-flag:before {
  content: "\eb42";
}
.icon-attachment:before {
  content: "\eb43";
}
.icon-eye:before {
  content: "\eb44";
}
.icon-eye-plus:before {
  content: "\eb45";
}
.icon-eye-minus:before {
  content: "\eb46";
}
.icon-eye-blocked:before {
  content: "\eb47";
}
.icon-bookmark:before {
  content: "\eb48";
}
.icon-bookmarks:before {
  content: "\eb49";
}
.icon-sun:before {
  content: "\eb4a";
}
.icon-contrast:before {
  content: "\eb4b";
}
.icon-brightness-contrast:before {
  content: "\eb4c";
}
.icon-star-empty:before {
  content: "\eb4d";
}
.icon-star-half:before {
  content: "\eb4e";
}
.icon-star-full:before {
  content: "\eb4f";
}
.icon-heart:before {
  content: "\eb50";
}
.icon-heart-broken:before {
  content: "\eb51";
}
.icon-man:before {
  content: "\eb52";
}
.icon-woman:before {
  content: "\eb53";
}
.icon-man-woman:before {
  content: "\eb54";
}
.icon-happy:before {
  content: "\eb55";
}
.icon-happy2:before {
  content: "\eb56";
}
.icon-smile:before {
  content: "\eb57";
}
.icon-smile2:before {
  content: "\eb58";
}
.icon-tongue:before {
  content: "\eb59";
}
.icon-tongue2:before {
  content: "\eb5a";
}
.icon-sad:before {
  content: "\eb5b";
}
.icon-sad2:before {
  content: "\eb5c";
}
.icon-wink:before {
  content: "\eb5d";
}
.icon-wink2:before {
  content: "\eb5e";
}
.icon-grin:before {
  content: "\eb5f";
}
.icon-grin2:before {
  content: "\eb60";
}
.icon-cool:before {
  content: "\eb61";
}
.icon-cool2:before {
  content: "\eb62";
}
.icon-angry:before {
  content: "\eb63";
}
.icon-angry2:before {
  content: "\eb64";
}
.icon-evil:before {
  content: "\eb65";
}
.icon-evil2:before {
  content: "\eb66";
}
.icon-shocked:before {
  content: "\eb67";
}
.icon-shocked2:before {
  content: "\eb68";
}
.icon-baffled:before {
  content: "\eb69";
}
.icon-baffled2:before {
  content: "\eb6a";
}
.icon-confused:before {
  content: "\eb6b";
}
.icon-confused2:before {
  content: "\eb6c";
}
.icon-neutral:before {
  content: "\eb6d";
}
.icon-neutral2:before {
  content: "\eb6e";
}
.icon-hipster:before {
  content: "\eb6f";
}
.icon-hipster2:before {
  content: "\eb70";
}
.icon-wondering:before {
  content: "\eb71";
}
.icon-wondering2:before {
  content: "\eb72";
}
.icon-sleepy:before {
  content: "\eb73";
}
.icon-sleepy2:before {
  content: "\eb74";
}
.icon-frustrated:before {
  content: "\eb75";
}
.icon-frustrated2:before {
  content: "\eb76";
}
.icon-crying:before {
  content: "\eb77";
}
.icon-crying2:before {
  content: "\eb78";
}
.icon-point-up:before {
  content: "\eb79";
}
.icon-point-right:before {
  content: "\eb7a";
}
.icon-point-down:before {
  content: "\eb7b";
}
.icon-point-left:before {
  content: "\eb7c";
}
.icon-warning:before {
  content: "\eb7d";
}
.icon-notification:before {
  content: "\eb7e";
}
.icon-question:before {
  content: "\eb7f";
}
.icon-plus:before {
  content: "\eb80";
}
.icon-minus:before {
  content: "\eb81";
}
.icon-info:before {
  content: "\eb82";
}
.icon-cancel-circle:before {
  content: "\eb83";
}
.icon-blocked:before {
  content: "\eb84";
}
.icon-cross:before {
  content: "\eb85";
}
.icon-checkmark:before {
  content: "\eb86";
}
.icon-checkmark2:before {
  content: "\eb87";
}
.icon-spell-check:before {
  content: "\eb88";
}
.icon-enter:before {
  content: "\eb89";
}
.icon-exit:before {
  content: "\eb8a";
}
.icon-play2:before {
  content: "\eb8b";
}
.icon-pause:before {
  content: "\eb8c";
}
.icon-stop:before {
  content: "\eb8d";
}
.icon-previous:before {
  content: "\eb8e";
}
.icon-next:before {
  content: "\eb8f";
}
.icon-backward:before {
  content: "\eb90";
}
.icon-forward2:before {
  content: "\eb91";
}
.icon-play3:before {
  content: "\eb92";
}
.icon-pause2:before {
  content: "\eb93";
}
.icon-stop2:before {
  content: "\eb94";
}
.icon-backward2:before {
  content: "\eb95";
}
.icon-forward3:before {
  content: "\eb96";
}
.icon-first:before {
  content: "\eb97";
}
.icon-last:before {
  content: "\eb98";
}
.icon-previous2:before {
  content: "\eb99";
}
.icon-next2:before {
  content: "\eb9a";
}
.icon-eject:before {
  content: "\eb9b";
}
.icon-volume-high:before {
  content: "\eb9c";
}
.icon-volume-medium:before {
  content: "\eb9d";
}
.icon-volume-low:before {
  content: "\eb9e";
}
.icon-volume-mute:before {
  content: "\eb9f";
}
.icon-volume-mute2:before {
  content: "\eba0";
}
.icon-volume-increase:before {
  content: "\eba1";
}
.icon-volume-decrease:before {
  content: "\eba2";
}
.icon-loop:before {
  content: "\eba3";
}
.icon-loop2:before {
  content: "\eba4";
}
.icon-infinite:before {
  content: "\eba5";
}
.icon-shuffle:before {
  content: "\eba6";
}
.icon-arrow-up-left:before {
  content: "\eba7";
}
.icon-arrow-up:before {
  content: "\eba8";
}
.icon-arrow-up-right:before {
  content: "\eba9";
}
.icon-arrow-right:before {
  content: "\ebaa";
}
.icon-arrow-down-right:before {
  content: "\ebab";
}
.icon-arrow-down:before {
  content: "\ebac";
}
.icon-arrow-down-left:before {
  content: "\ebad";
}
.icon-arrow-left:before {
  content: "\ebae";
}
.icon-arrow-up-left2:before {
  content: "\ebaf";
}
.icon-arrow-up2:before {
  content: "\ebb0";
}
.icon-arrow-up-right2:before {
  content: "\ebb1";
}
.icon-arrow-right2:before {
  content: "\ebb2";
}
.icon-arrow-down-right2:before {
  content: "\ebb3";
}
.icon-arrow-down2:before {
  content: "\ebb4";
}
.icon-arrow-down-left2:before {
  content: "\ebb5";
}
.icon-arrow-left2:before {
  content: "\ebb6";
}
.icon-circle-up:before {
  content: "\ebb7";
}
.icon-circle-right:before {
  content: "\ebb8";
}
.icon-circle-down:before {
  content: "\ebb9";
}
.icon-circle-left:before {
  content: "\ebba";
}
.icon-tab:before {
  content: "\ebbb";
}
.icon-move-up:before {
  content: "\ebbc";
}
.icon-move-down:before {
  content: "\ebbd";
}
.icon-sort-alpha-asc:before {
  content: "\ebbe";
}
.icon-sort-alpha-desc:before {
  content: "\ebbf";
}
.icon-sort-numeric-asc:before {
  content: "\ebc0";
}
.icon-sort-numberic-desc:before {
  content: "\ebc1";
}
.icon-sort-amount-asc:before {
  content: "\ebc2";
}
.icon-sort-amount-desc:before {
  content: "\ebc3";
}
.icon-command:before {
  content: "\ebc4";
}
.icon-shift:before {
  content: "\ebc5";
}
.icon-ctrl:before {
  content: "\ebc6";
}
.icon-opt:before {
  content: "\ebc7";
}
.icon-checkbox-checked:before {
  content: "\ebc8";
}
.icon-checkbox-unchecked:before {
  content: "\ebc9";
}
.icon-radio-checked:before {
  content: "\ebca";
}
.icon-radio-checked2:before {
  content: "\ebcb";
}
.icon-radio-unchecked:before {
  content: "\ebcc";
}
.icon-crop:before {
  content: "\ebcd";
}
.icon-make-group:before {
  content: "\ebce";
}
.icon-ungroup:before {
  content: "\ebcf";
}
.icon-scissors:before {
  content: "\ebd0";
}
.icon-filter:before {
  content: "\ebd1";
}
.icon-font:before {
  content: "\ebd2";
}
.icon-ligature:before {
  content: "\ebd3";
}
.icon-ligature2:before {
  content: "\ebd4";
}
.icon-text-height:before {
  content: "\ebd5";
}
.icon-text-width:before {
  content: "\ebd6";
}
.icon-font-size:before {
  content: "\ebd7";
}
.icon-bold:before {
  content: "\ebd8";
}
.icon-underline:before {
  content: "\ebd9";
}
.icon-italic:before {
  content: "\ebda";
}
.icon-strikethrough:before {
  content: "\ebdb";
}
.icon-omega:before {
  content: "\ebdc";
}
.icon-sigma:before {
  content: "\ebdd";
}
.icon-page-break:before {
  content: "\ebde";
}
.icon-superscript:before {
  content: "\ebdf";
}
.icon-subscript:before {
  content: "\ebe0";
}
.icon-superscript2:before {
  content: "\ebe1";
}
.icon-subscript2:before {
  content: "\ebe2";
}
.icon-text-color:before {
  content: "\ebe3";
}
.icon-pagebreak:before {
  content: "\ebe4";
}
.icon-clear-formatting:before {
  content: "\ebe5";
}
.icon-table:before {
  content: "\ebe6";
}
.icon-table2:before {
  content: "\ebe7";
}
.icon-insert-template:before {
  content: "\ebe8";
}
.icon-pilcrow:before {
  content: "\ebe9";
}
.icon-ltr:before {
  content: "\ebea";
}
.icon-rtl:before {
  content: "\ebeb";
}
.icon-section:before {
  content: "\ebec";
}
.icon-paragraph-left:before {
  content: "\ebed";
}
.icon-paragraph-center:before {
  content: "\ebee";
}
.icon-paragraph-right:before {
  content: "\ebef";
}
.icon-paragraph-justify:before {
  content: "\ebf0";
}
.icon-indent-increase:before {
  content: "\ebf1";
}
.icon-indent-decrease:before {
  content: "\ebf2";
}
.icon-share:before {
  content: "\ebf3";
}
.icon-new-tab:before {
  content: "\ebf4";
}
.icon-embed:before {
  content: "\ebf5";
}
.icon-embed2:before {
  content: "\ebf6";
}
.icon-terminal:before {
  content: "\ebf7";
}
.icon-share2:before {
  content: "\ebf8";
}
.icon-mail:before {
  content: "\ebf9";
}
.icon-mail2:before {
  content: "\ebfa";
}
.icon-mail3:before {
  content: "\ebfb";
}
.icon-mail4:before {
  content: "\ebfc";
}
.icon-amazon:before {
  content: "\ebfd";
}
.icon-google:before {
  content: "\ebfe";
}
.icon-google2:before {
  content: "\ebff";
}
.icon-google3:before {
  content: "\ec00";
}
.icon-google-plus:before {
  content: "\ec01";
}
.icon-google-plus2:before {
  content: "\ec02";
}
.icon-google-plus3:before {
  content: "\ec03";
}
.icon-hangouts:before {
  content: "\ec04";
}
.icon-google-drive:before {
  content: "\ec05";
}
.icon-facebook:before {
  content: "\ec06";
}
.icon-facebook2:before {
  content: "\ec07";
}
.icon-instagram:before {
  content: "\ec08";
}
.icon-whatsapp:before {
  content: "\ec09";
}
.icon-spotify:before {
  content: "\ec0a";
}
.icon-telegram:before {
  content: "\ec0b";
}
.icon-twitter:before {
  content: "\ec0c";
}
.icon-vine:before {
  content: "\ec0d";
}
.icon-vk:before {
  content: "\ec0e";
}
.icon-renren:before {
  content: "\ec0f";
}
.icon-sina-weibo:before {
  content: "\ec10";
}
.icon-rss:before {
  content: "\ec11";
}
.icon-rss2:before {
  content: "\ec12";
}
.icon-youtube:before {
  content: "\ec13";
}
.icon-youtube2:before {
  content: "\ec14";
}
.icon-twitch:before {
  content: "\ec15";
}
.icon-vimeo:before {
  content: "\ec16";
}
.icon-vimeo2:before {
  content: "\ec17";
}
.icon-lanyrd:before {
  content: "\ec18";
}
.icon-flickr:before {
  content: "\ec19";
}
.icon-flickr2:before {
  content: "\ec1a";
}
.icon-flickr3:before {
  content: "\ec1b";
}
.icon-flickr4:before {
  content: "\ec1c";
}
.icon-dribbble:before {
  content: "\ec1d";
}
.icon-behance:before {
  content: "\ec1e";
}
.icon-behance2:before {
  content: "\ec1f";
}
.icon-deviantart:before {
  content: "\ec20";
}
.icon-500px:before {
  content: "\ec21";
}
.icon-steam:before {
  content: "\ec22";
}
.icon-steam2:before {
  content: "\ec23";
}
.icon-dropbox:before {
  content: "\ec24";
}
.icon-onedrive:before {
  content: "\ec25";
}
.icon-github:before {
  content: "\ec26";
}
.icon-npm:before {
  content: "\ec27";
}
.icon-basecamp:before {
  content: "\ec28";
}
.icon-trello:before {
  content: "\ec29";
}
.icon-wordpress:before {
  content: "\ec2a";
}
.icon-joomla:before {
  content: "\ec2b";
}
.icon-ello:before {
  content: "\ec2c";
}
.icon-blogger:before {
  content: "\ec2d";
}
.icon-blogger2:before {
  content: "\ec2e";
}
.icon-tumblr:before {
  content: "\ec2f";
}
.icon-tumblr2:before {
  content: "\ec30";
}
.icon-yahoo:before {
  content: "\ec31";
}
.icon-yahoo2:before {
  content: "\ec32";
}
.icon-tux:before {
  content: "\ec33";
}
.icon-appleinc:before {
  content: "\ec34";
}
.icon-finder:before {
  content: "\ec35";
}
.icon-android:before {
  content: "\ec36";
}
.icon-windows:before {
  content: "\ec37";
}
.icon-windows8:before {
  content: "\ec38";
}
.icon-soundcloud:before {
  content: "\ec39";
}
.icon-soundcloud2:before {
  content: "\ec3a";
}
.icon-skype:before {
  content: "\ec3b";
}
.icon-reddit:before {
  content: "\ec3c";
}
.icon-hackernews:before {
  content: "\ec3d";
}
.icon-wikipedia:before {
  content: "\ec3e";
}
.icon-linkedin:before {
  content: "\ec3f";
}
.icon-linkedin2:before {
  content: "\ec40";
}
.icon-lastfm:before {
  content: "\ec41";
}
.icon-lastfm2:before {
  content: "\ec42";
}
.icon-delicious:before {
  content: "\ec43";
}
.icon-stumbleupon:before {
  content: "\ec44";
}
.icon-stumbleupon2:before {
  content: "\ec45";
}
.icon-stackoverflow:before {
  content: "\ec46";
}
.icon-pinterest:before {
  content: "\ec47";
}
.icon-pinterest2:before {
  content: "\ec48";
}
.icon-xing:before {
  content: "\ec49";
}
.icon-xing2:before {
  content: "\ec4a";
}
.icon-flattr:before {
  content: "\ec4b";
}
.icon-foursquare:before {
  content: "\ec4c";
}
.icon-yelp:before {
  content: "\ec4d";
}
.icon-paypal:before {
  content: "\ec4e";
}
.icon-chrome:before {
  content: "\ec4f";
}
.icon-firefox:before {
  content: "\ec50";
}
.icon-IE:before {
  content: "\ec51";
}
.icon-edge:before {
  content: "\ec52";
}
.icon-safari:before {
  content: "\ec53";
}
.icon-opera:before {
  content: "\ec54";
}
.icon-file-pdf:before {
  content: "\ec55";
}
.icon-file-openoffice:before {
  content: "\ec56";
}
.icon-file-word:before {
  content: "\ec57";
}
.icon-file-excel:before {
  content: "\ec58";
}
.icon-libreoffice:before {
  content: "\ec59";
}
.icon-html-five:before {
  content: "\ec5a";
}
.icon-html-five2:before {
  content: "\ec5b";
}
.icon-css3:before {
  content: "\ec5c";
}
.icon-git:before {
  content: "\ec5d";
}
.icon-codepen:before {
  content: "\ec5e";
}
.icon-svg:before {
  content: "\ec5f";
}
.icon-IcoMoon:before {
  content: "\ec60";
}
.icon-box1:before {
  content: "\ec61";
}
.icon-write:before {
  content: "\ec62";
}
.icon-clock4:before {
  content: "\ec63";
}
.icon-reply1:before {
  content: "\ec64";
}
.icon-reply-all:before {
  content: "\ec65";
}
.icon-forward4:before {
  content: "\ec66";
}
.icon-flag3:before {
  content: "\ec67";
}
.icon-search3:before {
  content: "\ec68";
}
.icon-trash1:before {
  content: "\ec69";
}
.icon-envelope1:before {
  content: "\ec6a";
}
.icon-bubble1:before {
  content: "\ec6b";
}
.icon-bubbles1:before {
  content: "\ec6c";
}
.icon-user3:before {
  content: "\ec6d";
}
.icon-users2:before {
  content: "\ec6e";
}
.icon-cloud3:before {
  content: "\ec6f";
}
.icon-download4:before {
  content: "\ec70";
}
.icon-upload4:before {
  content: "\ec71";
}
.icon-rain:before {
  content: "\ec72";
}
.icon-sun2:before {
  content: "\ec73";
}
.icon-moon1:before {
  content: "\ec74";
}
.icon-bell2:before {
  content: "\ec75";
}
.icon-folder3:before {
  content: "\ec76";
}
.icon-pin:before {
  content: "\ec77";
}
.icon-sound:before {
  content: "\ec78";
}
.icon-microphone:before {
  content: "\ec79";
}
.icon-camera4:before {
  content: "\ec7a";
}
.icon-image2:before {
  content: "\ec7b";
}
.icon-cog2:before {
  content: "\ec7c";
}
.icon-calendar3:before {
  content: "\ec7d";
}
.icon-book2:before {
  content: "\ec7e";
}
.icon-map-marker:before {
  content: "\ec7f";
}
.icon-store:before {
  content: "\ec80";
}
.icon-support:before {
  content: "\ec81";
}
.icon-tag2:before {
  content: "\ec82";
}
.icon-heart3:before {
  content: "\ec83";
}
.icon-video-camera1:before {
  content: "\ec84";
}
.icon-trophy2:before {
  content: "\ec85";
}
.icon-cart2:before {
  content: "\ec86";
}
.icon-eye3:before {
  content: "\ec87";
}
.icon-cancel1:before {
  content: "\ec88";
}
.icon-chart1:before {
  content: "\ec89";
}
.icon-target5:before {
  content: "\ec8a";
}
.icon-printer2:before {
  content: "\ec8b";
}
.icon-location4:before {
  content: "\ec8c";
}
.icon-bookmark4:before {
  content: "\ec8d";
}
.icon-monitor2:before {
  content: "\ec8e";
}
.icon-cross1:before {
  content: "\ec8f";
}
.icon-plus3:before {
  content: "\ec90";
}
.icon-left:before {
  content: "\ec91";
}
.icon-up:before {
  content: "\ec92";
}
.icon-browser:before {
  content: "\ec93";
}
.icon-windows1:before {
  content: "\ec94";
}
.icon-switch2:before {
  content: "\ec95";
}
.icon-dashboard:before {
  content: "\ec96";
}
.icon-play5:before {
  content: "\ec97";
}
.icon-fast-forward1:before {
  content: "\ec98";
}
.icon-next1:before {
  content: "\ec99";
}
.icon-refresh1:before {
  content: "\ec9a";
}
.icon-film3:before {
  content: "\ec9b";
}
.icon-home5:before {
  content: "\ec9c";
}
.icon-plangrid:before {
  content: "\ec9d";
  color: #0085de;
}
.icon-bootstrap:before {
  content: "\ec9e";
  color: #563d7c;
}
.icon-medium:before {
  content: "\ec9f";
}
.icon-origin:before {
  content: "\eca0";
  color: #f56c2d;
}
.icon-rollup-dot-js:before {
  content: "\eca1";
  color: #ec4a3f;
}
.icon-statamic:before {
  content: "\eca2";
}
.icon-codewars:before {
  content: "\eca3";
  color: #ad2c27;
}
.icon-wii:before {
  content: "\eca4";
  color: #8b8b8b;
}
.icon-ghost:before {
  content: "\eca5";
  color: #738a94;
}
.icon-aventrix:before {
  content: "\eca6";
  color: #09d;
}
.icon-vue-dot-js:before {
  content: "\eca7";
  color: #4fc08d;
}
.icon-adobeillustrator:before {
  content: "\eca8";
  color: #ff7c00;
}
.icon-plex:before {
  content: "\eca9";
  color: #e5a00d;
}
.icon-imdb:before {
  content: "\ecaa";
  color: #e6b91e;
}
.icon-applepay:before {
  content: "\ecab";
}
.icon-steam1:before {
  content: "\ecac";
}
.icon-toptal:before {
  content: "\ecad";
  color: #3863a0;
}
.icon-gnusocial:before {
  content: "\ecae";
  color: #a22430;
}
.icon-tumblr1:before {
  content: "\ecaf";
  color: #36465d;
}
.icon-pingup:before {
  content: "\ecb0";
  color: #00b1ab;
}
.icon-csswizardry:before {
  content: "\ecb1";
  color: #f43059;
}
.icon-ovh:before {
  content: "\ecb2";
  color: #123f6d;
}
.icon-coffeescript:before {
  content: "\ecb3";
}
.icon-virb:before {
  content: "\ecb4";
  color: #0093da;
}
.icon-tripadvisor:before {
  content: "\ecb5";
  color: #00af87;
}
.icon-sourceforge:before {
  content: "\ecb6";
  color: #535353;
}
.icon-bandcamp:before {
  content: "\ecb7";
  color: #408294;
}
.icon-wattpad:before {
  content: "\ecb8";
  color: #f68d12;
}
.icon-strava:before {
  content: "\ecb9";
  color: #fc4c02;
}
.icon-dropbox1:before {
  content: "\ecba";
  color: #0061ff;
}
.icon-tesla:before {
  content: "\ecbb";
  color: #c00;
}
.icon-processwire:before {
  content: "\ecbc";
  color: #ef145f;
}
.icon-microsoft:before {
  content: "\ecbd";
  color: #666;
}
.icon-protonmail:before {
  content: "\ecbe";
  color: #8b89cc;
}
.icon-squarespace:before {
  content: "\ecbf";
}
.icon-wheniwork:before {
  content: "\ecc0";
  color: #51a33d;
}
.icon-webpack:before {
  content: "\ecc1";
  color: #8dd6f9;
}
.icon-bigcartel:before {
  content: "\ecc2";
}
.icon-microsoftword:before {
  content: "\ecc3";
  color: #2b579a;
}
.icon-javascript:before {
  content: "\ecc4";
  color: #f7df1e;
}
.icon-samsung:before {
  content: "\ecc5";
  color: #1428a0;
}
.icon-yelp1:before {
  content: "\ecc6";
  color: #d32323;
}
.icon-cloudflare:before {
  content: "\ecc7";
  color: #f38020;
}
.icon-deviantart1:before {
  content: "\ecc8";
  color: #05cc47;
}
.icon-verizon:before {
  content: "\ecc9";
  color: #cd040b;
}
.icon-googlekeep:before {
  content: "\ecca";
  color: #fb0;
}
.icon-tails:before {
  content: "\eccb";
  color: #56347c;
}
.icon-pingdom:before {
  content: "\eccc";
  color: #fff000;
}
.icon-hexo:before {
  content: "\eccd";
  color: #0e83cd;
}
.icon-airbnb:before {
  content: "\ecce";
  color: #ff5a5f;
}
.icon-linux:before {
  content: "\eccf";
  color: #fcc624;
}
.icon-foursquare1:before {
  content: "\ecd0";
  color: #f94877;
}
.icon-linewebtoon:before {
  content: "\ecd1";
  color: #00d564;
}
.icon-drupal:before {
  content: "\ecd2";
  color: #0678be;
}
.icon-sega:before {
  content: "\ecd3";
  color: #0089cf;
}
.icon-gmail:before {
  content: "\ecd4";
  color: #d14836;
}
.icon-android1:before {
  content: "\ecd5";
  color: #a4c639;
}
.icon-adobe:before {
  content: "\ecd6";
  color: #f00;
}
.icon-ethereum:before {
  content: "\ecd7";
}
.icon-odnoklassniki:before {
  content: "\ecd8";
  color: #f4731c;
}
.icon-khanacademy:before {
  content: "\ecd9";
  color: #9db63b;
}
.icon-microsoftexcel:before {
  content: "\ecda";
  color: #217346;
}
.icon-tinder:before {
  content: "\ecdb";
  color: #ff6b6b;
}
.icon-geocaching:before {
  content: "\ecdc";
  color: #00874d;
}
.icon-gitlab1:before {
  content: "\ecdd";
  color: #e24329;
}
.icon-koding:before {
  content: "\ecde";
  color: #00b057;
}
.icon-addthis:before {
  content: "\ecdf";
  color: #ff6550;
}
.icon-visa:before {
  content: "\ece0";
  color: #142787;
}
.icon-moo:before {
  content: "\ece1";
  color: #00945e;
}
.icon-sass:before {
  content: "\ece2";
  color: #c69;
}
.icon-rust:before {
  content: "\ece3";
}
.icon-nintendo:before {
  content: "\ece4";
  color: #8f8f8f;
}
.icon-furrynetwork:before {
  content: "\ece5";
  color: #2e75b4;
}
.icon-firebase:before {
  content: "\ece6";
  color: #ffca28;
}
.icon-java:before {
  content: "\ece7";
  color: #007396;
}
.icon-viber:before {
  content: "\ece8";
  color: #665cac;
}
.icon-quantcast:before {
  content: "\ece9";
}
.icon-ello1:before {
  content: "\ecea";
}
.icon-wix:before {
  content: "\eceb";
  color: #faad4d;
}
.icon-macys:before {
  content: "\ecec";
  color: #e21a2c;
}
.icon-bitbucket:before {
  content: "\eced";
  color: #0052cc;
}
.icon-twoo:before {
  content: "\ecee";
  color: #ff7102;
}
.icon-simpleicons:before {
  content: "\ecef";
}
.icon-github2:before {
  content: "\ecf0";
}
.icon-haskell:before {
  content: "\ecf1";
  color: #5d4f85;
}
.icon-jquery:before {
  content: "\ecf2";
  color: #0769ad;
}
.icon-node-dot-js:before {
  content: "\ecf3";
  color: #393;
}
.icon-tapas:before {
  content: "\ecf4";
  color: #ffce00;
}
.icon-feedly:before {
  content: "\ecf5";
  color: #2bb24c;
}
.icon-americanexpress:before {
  content: "\ecf6";
  color: #2e77bc;
}
.icon-everplaces:before {
  content: "\ecf7";
  color: #fa4b32;
}
.icon-feathub:before {
  content: "\ecf8";
  color: #9b9b9b;
}
.icon-etsy:before {
  content: "\ecf9";
  color: #f16521;
}
.icon-hatenabookmark:before {
  content: "\ecfa";
  color: #00a4de;
}
.icon-gov-dot-uk:before {
  content: "\ecfb";
  color: #005ea5;
}
.icon-microsoftonedrive:before {
  content: "\ecfc";
  color: #094ab2;
}
.icon-px:before {
  content: "\ecfd";
  color: #0099e5;
}
.icon-myspace:before {
  content: "\ecfe";
}
.icon-homify:before {
  content: "\ecff";
  color: #7dcda3;
}
.icon-netlify:before {
  content: "\ed00";
  color: #00c7b7;
}
.icon-nintendoswitch:before {
  content: "\ed01";
  color: #e60012;
}
.icon-sitepoint:before {
  content: "\ed02";
  color: #258aaf;
}
.icon-sparkpost:before {
  content: "\ed03";
  color: #fa6423;
}
.icon-spreaker:before {
  content: "\ed04";
  color: #f5c300;
}
.icon-keybase:before {
  content: "\ed05";
  color: #33a0ff;
}
.icon-umbraco:before {
  content: "\ed06";
  color: #00bec1;
}
.icon-joomla1:before {
  content: "\ed07";
  color: #5091cd;
}
.icon-udacity:before {
  content: "\ed08";
  color: #01b3e3;
}
.icon-vsco:before {
  content: "\ed09";
}
.icon-microsoftpowerpoint:before {
  content: "\ed0a";
  color: #d24726;
}
.icon-kaggle:before {
  content: "\ed0b";
  color: #20beff;
}
.icon-clockify:before {
  content: "\ed0c";
  color: #03a9f4;
}
.icon-signal:before {
  content: "\ed0d";
  color: #2592e9;
}
.icon-kirby:before {
  content: "\ed0e";
  color: #ff0100;
}
.icon-wikipedia1:before {
  content: "\ed0f";
}
.icon-gnu:before {
  content: "\ed10";
  color: #a42e2b;
}
.icon-nextcloud:before {
  content: "\ed11";
  color: #0082c9;
}
.icon-npm1:before {
  content: "\ed12";
  color: #cb3837;
}
.icon-internetexplorer:before {
  content: "\ed13";
  color: #0076d6;
}
.icon-sentry:before {
  content: "\ed14";
  color: #fb4226;
}
.icon-dell:before {
  content: "\ed15";
  color: #007db8;
}
.icon-sprint:before {
  content: "\ed16";
  color: #ffce0a;
}
.icon-zapier:before {
  content: "\ed17";
  color: #ff4a00;
}
.icon-xero:before {
  content: "\ed18";
  color: #13b5ea;
}
.icon-gatsby:before {
  content: "\ed19";
  color: #639;
}
.icon-ycombinator:before {
  content: "\ed1a";
  color: #f0652f;
}
.icon-about-dot-me:before {
  content: "\ed1b";
  color: #00a98f;
}
.icon-boost:before {
  content: "\ed1c";
  color: #f69220;
}
.icon-mastodon:before {
  content: "\ed1d";
  color: #3088d4;
}
.icon-letterboxd:before {
  content: "\ed1e";
  color: #00d735;
}
.icon-fitbit:before {
  content: "\ed1f";
  color: #00b0b9;
}
.icon-angular:before {
  content: "\ed20";
  color: #dd0031;
}
.icon-untappd:before {
  content: "\ed21";
  color: #ffc000;
}
.icon-vk1:before {
  content: "\ed22";
  color: #6383a8;
}
.icon-vimeo1:before {
  content: "\ed23";
  color: #1ab7ea;
}
.icon-discourse:before {
  content: "\ed24";
}
.icon-wiiu:before {
  content: "\ed25";
  color: #8b8b8b;
}
.icon-eventbrite:before {
  content: "\ed26";
  color: #f6682f;
}
.icon-symfony:before {
  content: "\ed27";
}
.icon-gumroad:before {
  content: "\ed28";
  color: #36a9ae;
}
.icon-tencentqq:before {
  content: "\ed29";
  color: #12b7f5;
}
.icon-castorama:before {
  content: "\ed2a";
  color: #0078d7;
}
.icon-mozilla:before {
  content: "\ed2b";
}
.icon-fnac:before {
  content: "\ed2c";
  color: #e1a925;
}
.icon-buzzfeed:before {
  content: "\ed2d";
  color: #e32;
}
.icon-prismic:before {
  content: "\ed2e";
  color: #484a7a;
}
.icon-instagram2:before {
  content: "\ed2f";
  color: #e4405f;
}
.icon-xsplit:before {
  content: "\ed30";
  color: #0095de;
}
.icon-json:before {
  content: "\ed31";
}
.icon-shopify:before {
  content: "\ed32";
  color: #7ab55c;
}
.icon-oculus:before {
  content: "\ed33";
}
.icon-podcasts:before {
  content: "\ed34";
  color: #93c;
}
.icon-ruby:before {
  content: "\ed35";
  color: #cc342d;
}
.icon-googlehangouts:before {
  content: "\ed36";
  color: #0c9d58;
}
.icon-yammer:before {
  content: "\ed37";
  color: #0072c6;
}
.icon-instacart:before {
  content: "\ed38";
  color: #43b02a;
}
.icon-safari1:before {
  content: "\ed39";
}
.icon-nucleo:before {
  content: "\ed3a";
  color: #766dcc;
}
.icon-sinaweibo:before {
  content: "\ed3b";
  color: #e6162d;
}
.icon-songkick:before {
  content: "\ed3c";
  color: #f80046;
}
.icon-trakt:before {
  content: "\ed3d";
  color: #ed1c24;
}
.icon-python:before {
  content: "\ed3e";
  color: #3776ab;
}
.icon-jekyll:before {
  content: "\ed3f";
  color: #c00;
}
.icon-pocket1:before {
  content: "\ed40";
  color: #ef3f56;
}
.icon-heroku:before {
  content: "\ed41";
  color: #430098;
}
.icon-treehouse:before {
  content: "\ed42";
  color: #5fcf80;
}
.icon-docker:before {
  content: "\ed43";
  color: #1488c6;
}
.icon-git1:before {
  content: "\ed44";
  color: #f05032;
}
.icon-blogger1:before {
  content: "\ed45";
  color: #ff5722;
}
.icon-hulu:before {
  content: "\ed46";
  color: #3dbb3d;
}
.icon-cakephp:before {
  content: "\ed47";
  color: #d33c43;
}
.icon-riseup:before {
  content: "\ed48";
  color: #5e9ee3;
}
.icon-sap:before {
  content: "\ed49";
  color: #008fd3;
}
.icon-discover:before {
  content: "\ed4a";
  color: #ff6000;
}
.icon-monkeytie:before {
  content: "\ed4b";
  color: #ffc619;
}
.icon-mailchimp:before {
  content: "\ed4c";
  color: #239ab9;
}
.icon-mediatemple:before {
  content: "\ed4d";
}
.icon-raspberrypi:before {
  content: "\ed4e";
  color: #c51a4a;
}
.icon-digg:before {
  content: "\ed4f";
}
.icon-envato:before {
  content: "\ed50";
  color: #81b441;
}
.icon-nvidia:before {
  content: "\ed51";
  color: #76b900;
}
.icon-iconjar:before {
  content: "\ed52";
  color: #16a5f3;
}
.icon-last-dot-fm:before {
  content: "\ed53";
  color: #d51007;
}
.icon-bitcoin:before {
  content: "\ed54";
  color: #f7931a;
}
.icon-delicious1:before {
  content: "\ed55";
  color: #39f;
}
.icon-zillow:before {
  content: "\ed56";
  color: #0074e4;
}
.icon-codeforces:before {
  content: "\ed57";
  color: #1f8acb;
}
.icon-xcode:before {
  content: "\ed58";
  color: #1575f9;
}
.icon-saucelabs:before {
  content: "\ed59";
  color: #e2231a;
}
.icon-adobetypekit:before {
  content: "\ed5a";
  color: #87ec00;
}
.icon-hackerrank:before {
  content: "\ed5b";
  color: #2ec866;
}
.icon-disqus:before {
  content: "\ed5c";
  color: #2e9fff;
}
.icon-subversion:before {
  content: "\ed5d";
  color: #809cc9;
}
.icon-telegram1:before {
  content: "\ed5e";
  color: #2ca5e0;
}
.icon-kik:before {
  content: "\ed5f";
  color: #82bc23;
}
.icon-humblebundle:before {
  content: "\ed60";
  color: #cc2929;
}
.icon-salesforce:before {
  content: "\ed61";
  color: #00a1e0;
}
.icon-meetup:before {
  content: "\ed62";
  color: #ed1c40;
}
.icon-vim:before {
  content: "\ed63";
  color: #019733;
}
.icon-goodreads:before {
  content: "\ed64";
  color: #630;
}
.icon-styleshare:before {
  content: "\ed65";
}
.icon-sellfy:before {
  content: "\ed66";
  color: #21b352;
}
.icon-invision:before {
  content: "\ed67";
  color: #f36;
}
.icon-archlinux:before {
  content: "\ed68";
  color: #1793d1;
}
.icon-mix:before {
  content: "\ed69";
  color: #ff8126;
}
.icon-slides:before {
  content: "\ed6a";
  color: #e4637c;
}
.icon-asana:before {
  content: "\ed6b";
}
.icon-wpengine:before {
  content: "\ed6c";
  color: #40bac8;
}
.icon-garmin:before {
  content: "\ed6d";
  color: #007cc3;
}
.icon-zendesk:before {
  content: "\ed6e";
}
.icon-magento:before {
  content: "\ed6f";
  color: #ee672f;
}
.icon-houzz:before {
  content: "\ed70";
  color: #7ac142;
}
.icon-freecodecamp:before {
  content: "\ed71";
  color: #006400;
}
.icon-inkscape:before {
  content: "\ed72";
}
.icon-googleplay:before {
  content: "\ed73";
  color: #607d8b;
}
.icon-lua:before {
  content: "\ed74";
  color: #2c2d72;
}
.icon-aurelia:before {
  content: "\ed75";
  color: #ed2b88;
}
.icon-toggl:before {
  content: "\ed76";
  color: #e01b22;
}
.icon-gerrit:before {
  content: "\ed77";
  color: #eee;
}
.icon-rss3:before {
  content: "\ed78";
  color: #ffa500;
}
.icon-codecademy:before {
  content: "\ed79";
  color: #1f4056;
}
.icon-jira:before {
  content: "\ed7a";
}
.icon-spotify1:before {
  content: "\ed7b";
  color: #1ed760;
}
.icon-intercom:before {
  content: "\ed7c";
  color: #1f8ded;
}
.icon-microgenetics:before {
  content: "\ed7d";
  color: #f00;
}
.icon-flipboard:before {
  content: "\ed7e";
  color: #e12828;
}
.icon-t-mobile:before {
  content: "\ed7f";
  color: #e20074;
}
.icon-superuser:before {
  content: "\ed80";
  color: #2eace3;
}
.icon-teespring:before {
  content: "\ed81";
  color: #39ace6;
}
.icon-runkeeper:before {
  content: "\ed82";
  color: #2dc9d7;
}
.icon-roots:before {
  content: "\ed83";
  color: #525ddc;
}
.icon-sogou:before {
  content: "\ed84";
  color: #fb6022;
}
.icon-campaignmonitor:before {
  content: "\ed85";
  color: #509cf6;
}
.icon-playstation4:before {
  content: "\ed86";
  color: #003791;
}
.icon-periscope:before {
  content: "\ed87";
  color: #40a4c4;
}
.icon-disroot:before {
  content: "\ed88";
  color: #50162d;
}
.icon-kickstarter:before {
  content: "\ed89";
  color: #2bde73;
}
.icon-snapchat:before {
  content: "\ed8a";
  color: #fffc00;
}
.icon-qualcomm:before {
  content: "\ed8b";
  color: #3253dc;
}
.icon-nintendogamecube:before {
  content: "\ed8c";
  color: #6a5fbb;
}
.icon-wolframmathematica:before {
  content: "\ed8d";
  color: #d10;
}
.icon-bing:before {
  content: "\ed8e";
  color: #008373;
}
.icon-html5:before {
  content: "\ed8f";
  color: #e34f26;
}
.icon-nextdoor:before {
  content: "\ed90";
  color: #00b246;
}
.icon-dev-dot-to:before {
  content: "\ed91";
}
.icon-quora:before {
  content: "\ed92";
  color: #b92b27;
}
.icon-monero:before {
  content: "\ed93";
  color: #f60;
}
.icon-ifixit:before {
  content: "\ed94";
  color: #0071ce;
}
.icon-fandango:before {
  content: "\ed95";
  color: #ff7300;
}
.icon-laravel:before {
  content: "\ed96";
  color: #e74430;
}
.icon-twilio:before {
  content: "\ed97";
  color: #f22f46;
}
.icon-googledrive:before {
  content: "\ed98";
  color: #4386fc;
}
.icon-draugiem-dot-lv:before {
  content: "\ed99";
  color: #f60;
}
.icon-spotlight:before {
  content: "\ed9a";
  color: #352a71;
}
.icon-overcast:before {
  content: "\ed9b";
  color: #fc7e0f;
}
.icon-googleplus:before {
  content: "\ed9c";
  color: #dc4e41;
}
.icon-monogram:before {
  content: "\ed9d";
  color: #fdb22a;
}
.icon-pagekit:before {
  content: "\ed9e";
}
.icon-mongodb:before {
  content: "\ed9f";
  color: #47a248;
}
.icon-microsoftaccess:before {
  content: "\eda0";
  color: #ba141a;
}
.icon-ubuntu:before {
  content: "\eda1";
  color: #e95420;
}
.icon-steem:before {
  content: "\eda2";
  color: #4ba2f2;
}
.icon-paypal1:before {
  content: "\eda3";
  color: #00457c;
}
.icon-deezer:before {
  content: "\eda4";
  color: #00c7f2;
}
.icon-qiita:before {
  content: "\eda5";
  color: #55c500;
}
.icon-at-and-t:before {
  content: "\eda6";
  color: #00a8e0;
}
.icon-empirekred:before {
  content: "\eda7";
  color: #72be50;
}
.icon-proto-dot-io:before {
  content: "\eda8";
  color: #34a7c1;
}
.icon-hockeyapp:before {
  content: "\eda9";
  color: #009ee1;
}
.icon-unsplash:before {
  content: "\edaa";
}
.icon-gravatar:before {
  content: "\edab";
  color: #1e8cbe;
}
.icon-playstation:before {
  content: "\edac";
  color: #003791;
}
.icon-codio:before {
  content: "\edad";
  color: #4574e0;
}
.icon-wolfram:before {
  content: "\edae";
  color: #d10;
}
.icon-facebook3:before {
  content: "\edaf";
  color: #3b5998;
}
.icon-microsoftonenote:before {
  content: "\edb0";
  color: #80397b;
}
.icon-amazon1:before {
  content: "\edb1";
  color: #f90;
}
.icon-vine1:before {
  content: "\edb2";
  color: #11b48a;
}
.icon-stackexchange:before {
  content: "\edb3";
  color: #1e5397;
}
.icon-eslint:before {
  content: "\edb4";
  color: #4b32c3;
}
.icon-pinterest1:before {
  content: "\edb5";
  color: #bd081c;
}
.icon-mastercard:before {
  content: "\edb6";
  color: #eb001b;
}
.icon-blender:before {
  content: "\edb7";
  color: #f5792a;
}
.icon-slickpic:before {
  content: "\edb8";
  color: #ff880f;
}
.icon-webstorm:before {
  content: "\edb9";
  color: #00cdd7;
}
.icon-minutemailer:before {
  content: "\edba";
  color: #3abfe6;
}
.icon-travisci:before {
  content: "\edbb";
  color: #39a85b;
}
.icon-wechat:before {
  content: "\edbc";
  color: #7bb32e;
}
.icon-topcoder:before {
  content: "\edbd";
  color: #29a8e0;
}
.icon-yandex:before {
  content: "\edbe";
  color: #f00;
}
.icon-ted:before {
  content: "\edbf";
  color: #e62b1e;
}
.icon-instapaper:before {
  content: "\edc0";
}
.icon-pluralsight:before {
  content: "\edc1";
  color: #f15b2a;
}
.icon-stylus:before {
  content: "\edc2";
}
.icon-whatsapp1:before {
  content: "\edc3";
  color: #25d366;
}
.icon-google1:before {
  content: "\edc4";
  color: #4285f4;
}
.icon-line:before {
  content: "\edc5";
  color: #00c300;
}
.icon-livejournal:before {
  content: "\edc6";
  color: #00b0ea;
}
.icon-atlassian:before {
  content: "\edc7";
  color: #0052cc;
}
.icon-eventstore:before {
  content: "\edc8";
  color: #5ab552;
}
.icon-qzone:before {
  content: "\edc9";
  color: #fece00;
}
.icon-php:before {
  content: "\edca";
  color: #777bb4;
}
.icon-mozillafirefox:before {
  content: "\edcb";
  color: #ff9400;
}
.icon-stripe:before {
  content: "\edcc";
  color: #008cdd;
}
.icon-wolframlanguage:before {
  content: "\edcd";
  color: #d10;
}
.icon-artstation:before {
  content: "\edce";
  color: #13aff0;
}
.icon-stackoverflow1:before {
  content: "\edcf";
  color: #fe7a16;
}
.icon-gumtree:before {
  content: "\edd0";
  color: #72ef36;
}
.icon-playstation3:before {
  content: "\edd1";
  color: #003791;
}
.icon-brand-dot-ai:before {
  content: "\edd2";
  color: #0aa0ff;
}
.icon-scribd:before {
  content: "\edd3";
  color: #1a7bba;
}
.icon-googleallo:before {
  content: "\edd4";
  color: #ecb842;
}
.icon-bower:before {
  content: "\edd5";
  color: #ef5734;
}
.icon-vagrant:before {
  content: "\edd6";
  color: #1563ff;
}
.icon-co-op:before {
  content: "\edd7";
  color: #00b1e7;
}
.icon-jenkins:before {
  content: "\edd8";
  color: #d24939;
}
.icon-automatic:before {
  content: "\edd9";
  color: #7d8084;
}
.icon-gauges:before {
  content: "\edda";
  color: #2fa66a;
}
.icon-matternet:before {
  content: "\eddb";
}
.icon-plurk:before {
  content: "\eddc";
  color: #ff574d;
}
.icon-themighty:before {
  content: "\eddd";
  color: #d0072a;
}
.icon-designernews:before {
  content: "\edde";
  color: #2d72d9;
}
.icon-xing1:before {
  content: "\eddf";
  color: #006567;
}
.icon-adobeindesign:before {
  content: "\ede0";
  color: #fd3f93;
}
.icon-microsoftoutlook:before {
  content: "\ede1";
  color: #0072c6;
}
.icon-adobedreamweaver:before {
  content: "\ede2";
  color: #35fa00;
}
.icon-auth0:before {
  content: "\ede3";
  color: #eb5424;
}
.icon-slashdot:before {
  content: "\ede4";
  color: #026664;
}
.icon-goldenline:before {
  content: "\ede5";
  color: #f1b92b;
}
.icon-redux:before {
  content: "\ede6";
  color: #764abc;
}
.icon-pinboard:before {
  content: "\ede7";
  color: #00f;
}
.icon-redbubble:before {
  content: "\ede8";
  color: #e41321;
}
.icon-zerply:before {
  content: "\ede9";
  color: #9dbc7a;
}
.icon-twitch1:before {
  content: "\edea";
  color: #6441a4;
}
.icon-lanyrd1:before {
  content: "\edeb";
  color: #3c80ca;
}
.icon-windows2:before {
  content: "\edec";
  color: #0078d6;
}
.icon-basecamp1:before {
  content: "\eded";
  color: #5ecc62;
}
.icon-mail-dot-ru:before {
  content: "\edee";
  color: #168de2;
}
.icon-groupon:before {
  content: "\edef";
  color: #53a318;
}
.icon-youtube3:before {
  content: "\edf0";
  color: #f00;
}
.icon-rails:before {
  content: "\edf1";
  color: #c00;
}
.icon-justgiving:before {
  content: "\edf2";
  color: #ad29b6;
}
.icon-wire:before {
  content: "\edf3";
}
.icon-meteor:before {
  content: "\edf4";
  color: #de4f4f;
}
.icon-readthedocs:before {
  content: "\edf5";
  color: #8ca1af;
}
.icon-googleanalytics:before {
  content: "\edf6";
  color: #ffc107;
}
.icon-jsfiddle:before {
  content: "\edf7";
  color: #4679a4;
}
.icon-d3-dot-js:before {
  content: "\edf8";
  color: #f9a03c;
}
.icon-nodemon:before {
  content: "\edf9";
  color: #76d04b;
}
.icon-serverfault:before {
  content: "\edfa";
  color: #e7282d;
}
.icon-yahoo1:before {
  content: "\edfb";
  color: #409;
}
.icon-grav:before {
  content: "\edfc";
}
.icon-hackster:before {
  content: "\edfd";
  color: #1bacf7;
}
.icon-producthunt:before {
  content: "\edfe";
  color: #da552f;
}
.icon-uber:before {
  content: "\edff";
}
.icon-gulp:before {
  content: "\ee00";
  color: #da4648;
}
.icon-adobephotoshop:before {
  content: "\ee01";
  color: #00c8ff;
}
.icon-keycdn:before {
  content: "\ee02";
  color: #3686be;
}
.icon-diaspora:before {
  content: "\ee03";
}
.icon-reddit1:before {
  content: "\ee04";
  color: #ff4500;
}
.icon-angellist:before {
  content: "\ee05";
}
.icon-codeigniter:before {
  content: "\ee06";
  color: #ee4623;
}
.icon-stitcher:before {
  content: "\ee07";
}
.icon-icq:before {
  content: "\ee08";
  color: #7ebd00;
}
.icon-microsoftedge:before {
  content: "\ee09";
  color: #0078d7;
}
.icon-highly:before {
  content: "\ee0a";
  color: #ff3c00;
}
.icon-intel:before {
  content: "\ee0b";
  color: #0071c5;
}
.icon-evernote:before {
  content: "\ee0c";
  color: #00a82d;
}
.icon-codepen2:before {
  content: "\ee0d";
}
.icon-dribbble2:before {
  content: "\ee0e";
  color: #ea4c89;
}
.icon-adobeaftereffects:before {
  content: "\ee0f";
  color: #d291ff;
}
.icon-xbox:before {
  content: "\ee10";
  color: #107c10;
}
.icon-trello1:before {
  content: "\ee11";
  color: #0079bf;
}
.icon-archiveofourown:before {
  content: "\ee12";
  color: #900;
}
.icon-swarm:before {
  content: "\ee13";
  color: #ffa633;
}
.icon-amd:before {
  content: "\ee14";
  color: #ed1c24;
}
.icon-known:before {
  content: "\ee15";
}
.icon-redis:before {
  content: "\ee16";
  color: #d82c20;
}
.icon-player-dot-me:before {
  content: "\ee17";
  color: #c0379a;
}
.icon-acm:before {
  content: "\ee18";
  color: #0085ca;
}
.icon-linkedin3:before {
  content: "\ee19";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\ee1a";
  color: #4285f4;
}
.icon-uikit:before {
  content: "\ee1b";
  color: #2396f3;
}
.icon-react:before {
  content: "\ee1c";
  color: #61dafb;
}
.icon-ko-fi:before {
  content: "\ee1d";
  color: #f16061;
}
.icon-twitter3:before {
  content: "\ee1e";
  color: #1da1f2;
}
.icon-livestream:before {
  content: "\ee1f";
  color: #cf202e;
}
.icon-dailymotion:before {
  content: "\ee20";
  color: #0066dc;
}
.icon-bitly:before {
  content: "\ee21";
  color: #ee6123;
}
.icon-quantopian:before {
  content: "\ee22";
  color: #c50000;
}
.icon-devrant:before {
  content: "\ee23";
  color: #f99a66;
}
.icon-graphcool:before {
  content: "\ee24";
  color: #27ae60;
}
.icon-patreon:before {
  content: "\ee25";
  color: #f96854;
}
.icon-coderwall:before {
  content: "\ee26";
  color: #3e8dcc;
}
.icon-stubhub:before {
  content: "\ee27";
  color: #003168;
}
.icon-hipchat:before {
  content: "\ee28";
  color: #0052cc;
}
.icon-klout:before {
  content: "\ee29";
  color: #e44600;
}
.icon-swift:before {
  content: "\ee2a";
  color: #fa7343;
}
.icon-linuxfoundation:before {
  content: "\ee2b";
  color: #009bee;
}
.icon-discord:before {
  content: "\ee2c";
  color: #7289da;
}
.icon-dtube:before {
  content: "\ee2d";
  color: #f00;
}
.icon-opera1:before {
  content: "\ee2e";
  color: #ff1b2d;
}
.icon-gitter:before {
  content: "\ee2f";
  color: #ed1965;
}
.icon-buffer:before {
  content: "\ee30";
  color: #168eea;
}
.icon-css31:before {
  content: "\ee31";
  color: #1572b6;
}
.icon-renren1:before {
  content: "\ee32";
  color: #217dc6;
}
.icon-picarto-dot-tv:before {
  content: "\ee33";
  color: #1da456;
}
.icon-speakerdeck:before {
  content: "\ee34";
  color: #396;
}
.icon-adobelightroom:before {
  content: "\ee35";
  color: #add5ec;
}
.icon-framer:before {
  content: "\ee36";
  color: #05f;
}
.icon-debian:before {
  content: "\ee37";
  color: #a81d33;
}
.icon-mixcloud:before {
  content: "\ee38";
  color: #314359;
}
.icon-slack1:before {
  content: "\ee39";
  color: #56b68b;
}
.icon-soundcloud1:before {
  content: "\ee3a";
  color: #f30;
}
.icon-skyliner:before {
  content: "\ee3b";
  color: #2fcea0;
}
.icon-messenger:before {
  content: "\ee3c";
  color: #0084ff;
}
.icon-trulia:before {
  content: "\ee3d";
  color: #53b50a;
}
.icon-hootsuite:before {
  content: "\ee3e";
}
.icon-django:before {
  content: "\ee3f";
}
.icon-mysql:before {
  content: "\ee40";
  color: #4479a1;
}
.icon-shazam:before {
  content: "\ee41";
  color: #08f;
}
.icon-baidu:before {
  content: "\ee42";
  color: #2319dc;
}
.icon-skype2:before {
  content: "\ee43";
  color: #00aff0;
}
.icon-ebay:before {
  content: "\ee44";
  color: #e53238;
}
.icon-glassdoor:before {
  content: "\ee45";
  color: #0caa41;
}
.icon-micro-dot-blog:before {
  content: "\ee46";
  color: #fd8308;
}
.icon-wordpress1:before {
  content: "\ee47";
  color: #21759b;
}
.icon-dot-net:before {
  content: "\ee48";
  color: #5c2d91;
}
.icon-circleci:before {
  content: "\ee49";
}
.icon-viadeo:before {
  content: "\ee4a";
  color: #f88d2d;
}
.icon-atom1:before {
  content: "\ee4b";
  color: #66595c;
}
.icon-pandora:before {
  content: "\ee4c";
  color: #005483;
}
.icon-sublimetext:before {
  content: "\ee4d";
}
.icon-graphql:before {
  content: "\ee4e";
  color: #e10098;
}
.icon-nginx:before {
  content: "\ee4f";
  color: #269539;
}
.icon-adobecreativecloud:before {
  content: "\ee50";
  color: #d41818;
}
.icon-go:before {
  content: "\ee51";
  color: #76e1fe;
}
.icon-staticman:before {
  content: "\ee52";
}
.icon-adobeacrobatreader:before {
  content: "\ee53";
  color: #ee3f24;
}
.icon-apple1:before {
  content: "\ee54";
  color: #999;
}
.icon-launchpad:before {
  content: "\ee55";
  color: #f8c300;
}
.icon-netflix:before {
  content: "\ee56";
  color: #e50914;
}
.icon-smashingmagazine:before {
  content: "\ee57";
  color: #e85c33;
}
.icon-digitalocean:before {
  content: "\ee58";
  color: #0080ff;
}
.icon-leetcode:before {
  content: "\ee59";
  color: #f89f1b;
}
.icon-neo4j:before {
  content: "\ee5a";
  color: #008cc1;
}
.icon-storify:before {
  content: "\ee5b";
  color: #3a98d9;
}
.icon-typo3:before {
  content: "\ee5c";
  color: #ff8700;
}
.icon-visualstudiocode:before {
  content: "\ee5d";
  color: #007acc;
}
.icon-reverbnation:before {
  content: "\ee5e";
  color: #e43526;
}
.icon-makerbot:before {
  content: "\ee5f";
  color: #ff1e0d;
}
.icon-conekta:before {
  content: "\ee60";
  color: #414959;
}
.icon-behance1:before {
  content: "\ee61";
  color: #1769ff;
}
.icon-applemusic:before {
  content: "\ee62";
}
.icon-flickr1:before {
  content: "\ee63";
  color: #0063dc;
}
.icon-mixer:before {
  content: "\ee64";
  color: #002050;
}
.icon-compropago:before {
  content: "\ee65";
  color: #00aaef;
}
.icon-upwork:before {
  content: "\ee66";
  color: #6fda44;
}
.icon-coursera:before {
  content: "\ee67";
  color: #2a73cc;
}
.icon-castro:before {
  content: "\ee68";
  color: #00b265;
}
.icon-bathasu:before {
  content: "\ee69";
  color: #00a3e0;
}
