.contenedor{
	/*background:#00000000;
	border-radius:10px;
	box-shadow: 0px 0px 27px -2px rgba(0,0,0,0.75);*/
	width: 90%;
	margin:auto;
	padding:2%;
}

.txt-adjuntar {
    color: white;
}

.txt-adjuntar, .file {
    display: inline-block;
    width: 20%;
    min-width:120px;
    text-align: center;
}
