.title-noticia{
	margin-right: 80px;
}

@media screen and (max-width:916px ) {
	.title-noticia{
	margin-right: auto;
	}

}

.txt-noticia{
	margin-top: -1%;
}

.title-noticia2 {
	margin: auto;
	margin-top: 5%;
	
}

@media screen and (max-width: 600px){
	.title-noticia2 {
	margin: auto;
	}
}

.btnEditar{
	max-width: 100px;
	background: #FF9800;
	cursor: pointer;
}

.btnEliminar{
	max-width: 100px;
	cursor: pointer;
}
.btnEditar, .btnEliminar{
	display:inline-block;
	padding:2%;
}
.btn-EditarElim{
display: inline-block;
background: white;
width:90%;
}

.menuUbicacion{
    margin-top:65px;
    margin: auto;
    font-family: sans-serif;
    width:90%;
    max-width: 700px;
    background-color:rgb(51, 49, 50);
    display: flex;
}

ul, ol{
	list-style: none;
}

.menu-desplegable li a{
	color: #fff;

	padding: 15px 81.4px;
	text-decoration: none;
	background-color:rgb(51, 49, 50);
	display: block;
}

.menu-desplegable li a:hover{
	background: #ff9800;
	transition: all .5s;
}

.menu-desplegable > li{
	float: left;
}

.menu-desplegable li ul{
	display: none;
	position: absolute;
	min-width: 100px;
}

.menu-desplegable li:hover > ul{
	display: block;
}

@media screen and (max-width: 950px){
	.menuUbicacion{
		width: 300px;
	}
}

.btn-descargar{
	max-width: 200px;
	width: 90%;
	padding: 1%;
	outline: none;
	background: #FF9800;
	cursor: pointer; 
	color: #fff;	
	border-radius: 30px;
	margin-right: -190px;
	display: block;
	margin: auto;
	border: none;
	margin-top: 20px;
}

.btn-descargar:hover{
	background: #EF6C00;
	outline: transparent;
}

@media screen and (max-width: 450px) {
	.btn-descargar{
		margin: auto;
		display: block;
		margin-top: 40px;
	}
}

.paginacion{
	margin-top: 70px;
}

a{
	text-decoration: none;
	color: #fff;
}
 .agregar-info{
	max-width: 100px;
	width: 90%;
	background: #FF9800;
	cursor: pointer;
	border-radius: 30px;
	padding: 1%;
	margin-left: 90%;
	margin-top: 30px;
	text-decoration: none;
}

.agregar-info:hover{
	background: #EF6C00;
}

@media screen and (max-width: 1220px) {
	.agregar-info{
		margin: auto;
		margin-top: 20px;
		display: block;
	}	
}
