.contenedor{
	background:#00000040;
	border-radius:10px;
	width: 80%;
	margin:auto;
	padding:2%;
}

.txt-adjuntar {
    color: white;
}

.txt-adjuntar, .file {
    display: inline-block;
    width: 20%;
    min-width:120px;
    text-align: center;
}
