
.menu-gym ul a{
	max-width:200px;
	width:90%;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
	background: #00ad9d;
	padding: 1%;
	border-radius:10px;
	margin:5%;
	color: #fff;
	margin-top:20px;
	margin-bottom:30px;
}

.menu-gym a:hover{
	transition: all .5s; 
	background: #009688;
}

.noticias{
	margin-top: 30px;
}

.title-IMC {
	margin-top: 30px;
	margin-top: 20px;
}

.frm-imc label{
	display: block;
	position:absolute;
	letter-spacing:1px;
	transition:all .5s;
	margin-left: auto;
	top:0;
	left: 0;
	margin-top: 30px;
	background: transparent;
	color: #000;
}

.frm-imc{
	position: relative;
	display: inline-block;
	width: 50%;
}

.box {
	background: #BBBBBB;
	border-radius: 20px;
	max-width: 300px;
	min-height: 300px;
	height: 40%;
	width: 90%;
	text-align: center;
	margin: left;
	margin-top: 30px;
	margin-left: 10%;
}

.frm-imc input{
	padding:10px 0;
	font-size:16px;
	color: #000;
	border:none;
	max-width: 310px;
	width: 100%;
	border-bottom:1px solid #000;
	margin-bottom:20px;
	outline:none;
	display: block;
	margin-right: 50px;
	margin-top: 20px;
	background: transparent;
}

.frm-imc input:focus{
	border-bottom:2px solid #000;  
}

.frm-imc input:focus ~ label,
.frm-imc input:valid ~ label{
	top:-18px;
	left:0;
	color:#000;
	font-size:12px;
}

a{
	text-decoration: none;
	color: #fff;
}

.btn-agregarEjer{
	background: #00ad9d;
	border-radius: 30px;
	max-width: 150px;
	width: 90%;
	padding: 1%;
	margin-top: 3%;
	margin-left: 8%;
}

.btn-Enviar{
	max-width: 150px;
	width: 90%;
	outline: none;
}

@media screen and (max-width: 445px){
	.btn-Enviar{
		margin-top: 20px;
	}
}

.lado ,box{
	display:inline-block;
}
.lado{
	width:299px;
	float:right;
	margin-top:15%;
}

.titulo {
	background:rgb(16,118,114);
}

td{
	border: 1px solid rgb(16,118,114);
}

.contenedorTable{
	max-width: 900px;
	width: 90%;
}


@media screen and (max-width:770px){
	.lado{
	max-width:299px;
	float:none;

	width:100%;
}

.lado ,box{
	display:block;
	margin:auto;
	margin-top:20px;
}

.box {
	margin:auto;
	margin-top:30px;
}