*{
	box-sizing: border-box;
}

h1{
	font-size: 38px;
}
a{
	text-decoration:none;
}
.contenedornav{
     width:100%;
     padding: 6px;
 }
.icon-search{
	width: 100%;
	padding: 0px;
	margin-right: 20px;
	font-size:100%;
}
.btn-Buscar{
	border: 3px solid #FF9800;
	padding: 3px;
	border-radius: 5px;
}
.contenedorcrear{
	text-align: right;
	margin: 0px;
	width: 100%;
	padding: 3px;
}

.contenedorNoticias{
	width:90%;
	margin:auto;
	margin-top:20px;
	}
.hNoticia{
	margin-top:10%;
	text-align:center;
	color:#383838;
}
    .wNoticia{
	font-size:25px;
	color:#383838;
}


@media screen and (max-width: 896px) {
    .noticias {
        height:660px;
    }
    .noticiaCorto{
	height:300px;
}
    .hNoticia{
	display:none;
}
}
@media screen and (min-width: 896px) {
    .wNoticia{
	display:none;
}
}

.section-container {
	margin-top: 65px;
	background: #2a2a2a;
	height:44px;

}

.section-container ul{
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.section-container ul li {
	display: flex;
	
}
.section-container ul li a {
	padding: 10px 15px;
	text-decoration: none;
	color: #fff;
	margin-top:5px;
	font-size: 12px;
	width:100px;
	text-align:center;

}
.select{
	border-bottom: 5px solid #FF9800;
}

.section-container ul li a:hover  {
	border-bottom: 5px solid #FF9800;

}

.container a {
	text-decoration: none;
	color: #000000;
}
 /*Estilos noticias gimnasio*/
.container a {
	text-decoration: none;
	color: #fff;
}


.description {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.description h4{
	margin-left: 20px;
	width: 100%;
	height: 20px;
}

.sede {
	height: 20px;
	margin-left: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.btn-vermas{
	text-align: center;
	height: 28px;
	padding: 5px 15px; 
	background: #00ad9d;
	border:0;
	font-size:80%;
	border-radius:30px;
	width:120px;
	margin: 0px;
}

.btn-vermas:hover {
	background: #27a095;
}

.contenido {	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	clear: both;
	margin-left: 20px;
}

.contenido p {
	margin-bottom: 20px;
}

.main-especifica {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.container-contenido {
	width: 90%;
	max-width: 1320px;
	display: flex;
	flex-wrap: wrap;
}

.title-top {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px; 
}

.title-top h2{
	padding: 15px;
}

.time-right {
	width: 100%;
	text-align: right;
}

.time-right span {
	margin-right: 20px;
}

.ct-contenido {
	display: flex;
	flex-wrap: nowrap;
}

.aside {
	width: 30%;
}

.tweets {
	overflow: scroll;
	width: 100%;
	height: 40vh;
	max-height: 400px;
}

.article {
	margin-left: 40px;
	width: 70%;
}

.img-especifica {
	width: 100%;
	height: 40vh;
	max-height: 300px;
	margin-bottom: 20px; 
}


@media screen and (max-width: 600px) {

     .time-right {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}


	.ct-contenido {
		display: flex;
		flex-wrap: wrap;
	}

    .aside {
		width: 100%;
	}

	.img-especifica{
		width: 100%;
		height: 40vh;
		max-height: 300px;
		margin-bottom: 20px; 
	}

	.tweets {
		width: 0px;
		height: 0px;
	}

	.article {
		margin: 0px 10px;
		width: 90%;
	}
}

h1{
	text-align: center;
	margin-top: 34px;
}
