.frm-contenedor{
	padding: 5%;

	border-radius:10px;
}

.img{
	text-align: left;
	border:0;
	width:98%;
	margin:auto;
	padding: 2px;
}
.img-editar{
	width: 120px;
	box-shadow: 0px 0px 147px 0px rgba(0,0,0,0.75);
}

.btn-contenedor{
  text-align:left;
  margin: auto;
}
.btn-Editar{
  background:#00ad9d;
  border:0;
  color:#fff;
  font-size:120%;
  border-radius: 25px;
  width: 100px;
  padding: 3px;
  margin-top: 6px;
}
.btn-Editar:hover{
  background: orange;
  transition: all 1s;
}

.contenedorguardar{
	text-align: center;
}
.btn-Agregar{
	background: #00ad9d;
	padding: 1%;
	color:#fff;
	font-size:120%;
	border-radius: 25px;
	width:12%;
	min-width:150px;
	border:0;
}
.btn-Agregar:hover{
	background:orange;
	transition: all 1s;
}

.btn-contenedorcancelar{
	text-align: center; 
}
.btn-Cancelar{
	background: #00ad9d;
	padding: 1%;
	color:#fff;
	font-size:120%;
	border-radius: 25px;
	width:12%;
	min-width:150px;
	border:0;
}
.btn-Cancelar:hover{
	background:orange;
	transition: all 1s;
}

.txt-adjuntar, .file{
	width:100%;
	max-width:200px;
}

.tituloNoticia{
	float: left;
}