.contenedornav{
     width:100%;
}

.contenedornav{
  text-align: center;
  margin: auto;
  
}
.icon-search{
	width: 100%;
	padding: 0px;
	margin-right: 20px;
	font-size:100%;
}
.btn-Buscar{
	border: 0px;
	border-radius: 5px;
	padding: 3px;
}
.contenedorcrear{
	text-align: right;
	margin: 0px;
	width: 100%;
}
.btn-Crear{
   width: 100px;
   margin: 0px;
   padding: 2px;
   background:orange;
   border-radius: 5px;
   color:#fff;
   border:none;
   font-size:100%;
}
.btn-Crear:hover{
	background:#00ad9d;
	transition: all 1s;
}
#noticia1{
	display:flex;
	flex-wrap:wrap;
} 
#noticia1 h1{
width:100%;

}

.txt-noticia{
	text-align: left;
	width: 90%;
	padding:10px;
}

.btn-funciones{
	float: right;
	width:200px;
}
@media screen and (max-width: 931px){
	.txt-noticia{
	text-align: left;
	width: 100%;
}
.btn-funciones{
	float: none;
	 
	width:100%;
}
}
.btn-editar{
	padding: 4px;
	border-radius: 5px;
	font-size: 15px;
	margin-top:10px;
}
.btn-editar:hover{
	background:#009688;
	transition: 1s;
}
.btn-eliminar{
	padding: 4px;
	border-radius: 5px;
	font-size: 15px;
	margin-top:-7px;
}
.btn-eliminar:hover{
	background:#009688;
	transition: 1s;
}

