.contenedor{
    width: 100%;
    margin:auto;
    margin-top:50px;
}
.Titulo{

}
h2{

    width:70%;
    text-align:left;
}
h2, .agregarEstado{

    display:inline-block;
}
.agregarEstado{
    padding:12px;
    background-color:#00a007;
    color:white;
    text-decoration:none;
    border-radius:10px;
}
.agregarEstado:hover{
    background-color:#007505;
}
.contenedorTable {
    background: white;
    overflow: auto;
    width: 100%;
    margin: auto;
    margin-top:50px;
    min-height: 00px;
}


table {
    border: none;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.titulo {
    background-color: #ffffff;
    color: #ff9800;
    text-align: center;

}

td {
    border:none;
    border-bottom: 1px solid #ffffff;
    padding: 15px;

    min-width: 1px;
}
.file{
    width:50%;

}
.completo{
    text-align:center;
}
.btns-Inventario{
   width:80%;
   margin:auto;
   
}
#btn-izquierda{
     text-align:left;
}
#btn-derecha{
    text-align:right;
}
#btn-izquierda,#btn-derecha{
    display:inline-block;
    width:48%;

}
.btn-izquierda,.btn-derecha{
    padding:12px;
    background-color:#00a007;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-size:20px;
    border:none;
    min-width:50px;
}
.btn-izquierda:hover,.btn-derecha:hover{
    background-color:#006104;
}
.Formulario{
    width:80%;
    background-color:#0000001a;
    border-radius:10px;
    padding:2%;
}
.tituloDescripcion{

    text-align:left;
    font-weight:bold;
    padding:1%;
    width:98%;
    color:#00ad9d;
    margin:auto;
}
.Recibo{
    width:;
    background-color:;
    padding:5px;

}
.labRecibido{
    width:;
    background-color:;
    padding:5px;
}
.mal{
    width:40px;
    background-color:red;
   
   cursor:pointer;
    color:#fff;

}
.bien{
    width:;
    background-color:#00bb08;
    cursor:pointer;
    width:40px;
    color:#fff;
}
.labRecibido,.mal,.bien{
    display:inline-block;
    border-radius:5px;
    font-size:20px;
    margin:5px;
     padding:7px;
     border:none;

}