
.menuUbicacion{
    margin-top:65px;
    display: flex;
    width:100%;
    background-color:rgb(51, 49, 50);;
}

.opcionMenu {
    list-style: none;
}

.opcionMenu {
    line-height: 50px;
    padding: 0 15px ;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align:center;
    width:100%;
    font-size:90%;
    border-bottom:3px solid #333132;
}

.seleccionado, .opcionMenu:hover{
    border-bottom:3px solid #ff9800;
}
.contenedor-General{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: -45px;

}
h1 {
    margin-top: 15%;
    color: rgb(174,196,45);
}
.h1{
    margin-top:15%;
    margin-bottom: 1%;
}
h2 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(255,146,32);
}

.btn-Ubicacion {
    width: 15%;
    border-radius: 10px;
    display: inline-block;
    padding: 2%;
    font-size: 1 20%;
    color: white;
    text-decoration: none;
}

.bordeLogo {
    border-radius: 100%;
    padding: 7%;
    font-size: 190%;
    margin: auto;
}

@media screen and (max-width: 893px) {
    .btn-Ubicacion {
        width:90%;
        padding: 1%;
        margin-top: 0%;
        font-size: 150%;
        font-size: 90%;
        text-align:left;
    }

    .bordeLogo, h4 {
        border-radius: 100%;
        padding: 1%;
        font-size: 130%;
        margin: auto;
        display:inline-flex;
       
    }
    .pais {
        border-radius: 10px 10px 0px 0px;
    }

    .departamento,.municipio, .region {
        border-radius: 0px;
    }

    .sede {
        border-radius: 0px 0px 10px 10px;
        margin-bottom:20px;
    }
    h1 {
    margin-top: 28%;
    color: rgb(174,196,45);
}
}

.pais:hover,.departamento:hover,.municipio:hover,.sede:hover,.region:hover {
    background: rgba(0,0,0,0);
    transition: all .7s;
}
.pais:hover{
    color: rgb(193, 220, 34);
}
.region:hover{
    color: rgb(174,196,45); 
}
.departamento:hover {
    color: rgb(255,146,32);
}

.municipio:hover {
    color: rgb(16,118,114);
}

.sede:hover {
    color: rgb(7, 148, 143);
}

.pais {
    background: rgb(193, 220, 34);
    box-shadow: inset 0 0 0 3px rgb(193, 220, 34);
}
.region {
    background: rgb(174,196,45);
    box-shadow: inset 0 0 0 3px rgb(174,198,32);
}
.departamento {
    background: rgb(255,146,32);
    box-shadow: inset 0 0 0 3px rgb(255,146,32);
}

.municipio {
    background: rgb(16,118,114);
    box-shadow: inset 0 0 0 3px rgb(16,118,114);
}

.sede {
    background: rgb(7, 148, 143);
    box-shadow: inset 0 0 0 3px rgb(7, 148, 143);
}

.conten h2 {
    color: rgb(7, 148, 143);
    font-size: 170%;
    margin-top: 50px;
}

textarea {
    min-width: 50%;
    max-width: 50%;
    min-height: 100px;
    max-height: 100px;
    border: 1.5px solid #009688;
    font-family: sans-serif;
    outline: none;
    padding: 5px;
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 10px;
    background: #00000040;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ff9800;
}

@media screen and (max-width: 595px) {
    textarea {
        min-width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
}

.btnEditar, .btnEliminar {
    border: 0;
    padding: 10px;
    color: white;
    width: 47%;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    font-size: 80%;
}

.contenedorTable {
    width: 100%;
    max-width: none;
    height: 250px;
    margin-top: 20px;
}

td {
    font-size: 100%;
}

@media screen and (max-width: 1007px) {
    .btnEditar, .btnEliminar {
        color: white;
        width: 90%;
        display: block;
    }
}

.tituloUbicacion {
    width: 100%;
    margin-top: 25px;
    font-size: 200%;
    text-align: left;
    padding: 5px;
    color:#ff9800;
}
.conteUbicacion{
width:100%;
background:white;
margin-top:180px;
box-shadow: -1px 2px 63px 0px rgba(0,0,0,0.75);
border-radius:5px;
}
.tituloPais{
text-align:center;
background:#ffffff;
padding:20px;

border-radius:5px 5px 0px 0px;
border-bottom:1px solid #d2d2d2;
font-size:20px;

}
.contenidoUbicacion{
    width:100%;
}
.anadir{
    margin:2%;
    margin-top:80px;
    background:rgb(174,196,45);
    border-radius:10px;
    border:none;
    
    cursor:pointer;
    float:right;
    padding:10px;
    font-size:17px;
    box-shadow: -1px 2px 63px 0px rgba(0,0,0,0.75);
}
.anadir a{
    text-decoration:none;
    color:#fff;
}
.anadir:hover{
    background:rgb(142, 167, 1);
}
.tituloContenido{
    margin:auto;
    margin-top:20px;
    border-bottom:2px solid;
    border-top:2px solid;
    width:20%;
    color:rgb(16,118,114);
    padding:1%;
    font-weight:bold;
    font-size:150%;
}
@media screen and (min-width:855px){
    .contenedorContenido{
    display:flex;
    height:360px;
}
}

.contenedorImagen, .contenedorTexto{
    width:35%;
    margin:auto;
    margin-top:30px;
    border-radius:5px;

}
.contenedorTexto{
    width:50%;
    line-height:2;
    padding:5px;
    text-align:left;
    height:285px;
    overflow:auto;
    box-shadow: none;
}
.contenedorTexto::-webkit-scrollbar {
    width: 7px;
    background: #00000040;
    border-radius:10px;
}

.contenedorTexto::-webkit-scrollbar-thumb {
    background-color: rgb(174, 196, 45);
    border-radius:10px;
}

@media screen and (max-width:855px){
    .contenedorImagen, .contenedorTexto{
    width:90%;
    margin:auto;
    margin-top:30px;

}.contenedorContenido{
    display:block;  
}
}

.datosRegistrados{
    display:inline-block;
    padding:10px;
    font-size:120%;
    margin-top:20px;
    margin-bottom:20px;
}
.borderMitad{
    border-left:1px solid black;
}
.cajaDepartamentos::-webkit-scrollbar {
    width: 7px;
    background: #00000040;
    border-radius:0px 0px 10px 10px;
}

.cajaDepartamentos::-webkit-scrollbar-thumb {
    background-color: rgb(7, 148, 143);
    border-radius:0px 0px 10px 10px;
}
.cajaDepartamentos{
    width:90%;
    background:white;
    margin:auto;
    overflow:auto;
    margin-bottom:20px;
    height:60px;
    display:flex
    
}
.nombreUbicacion{
    padding:10px;
    color:white;
    background:#ff9800;
    
    text-decoration:none;
}

.derecha{
    width:20%;
    margin-right:20px;
}
.contenedorTable{
    width:92%;
}